.navbar-default {    
    background-color: transparent;
    border-color: transparent;
    height: 20%;
    margin-bottom: 0px;
}

.navbar-nav li a {
    line-height: 100px;
    padding-top: 0;
}

#logo {
    height: 75px;
    width: 75px;
}
.middleVerticalAlign {
    display: table-cell;
    vertical-align: middle;
}

.bottomVerticalAlign {
    position: relative;
    top: 75%;
    transform: translateY(-50%);
}

.textAlignCenter{
    text-align: center;
}

.logoDiv {
    margin-right: 10px;
    display: table;
    height: 100%;
}

.fullWidth {
    width: 100%;
}

.fullHeight {
    height: 100%;
}

.blueBorderHover {
    display: inline-block;
    line-height: 50px;
}


.blueBorderHover:after{
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  -webkit-transform: scaleX(0.0001);
  -ms-transform: scaleX(0.0001);
  transform: scaleX(0.0001);  
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;

}
.blueBorderHover:hover:after{
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.height70p{
    height: 70%;
}

.height10p{
    height: 10%;
}

body,html {
 height: 100%;
}