@font-face {
  font-family: "Moon Bold";
  src: url("../Content/fonts/Moon Bold.otf"); }

@font-face {
  font-family: "Moon Light";
  src: url("../Content/fonts/Moon Light.otf"); }

@font-face {
  font-family: "OpenSans Bold";
  src: url("../Content/fonts/OpenSans-Bold.ttf"); }

@font-face {
  font-family: "OpenSans BoldItalic";
  src: url("../Content/fonts/OpenSans-BoldItalic.ttf"); }

@font-face {
  font-family: "OpenSans ExtraBold";
  src: url("../Content/fonts/OpenSans-ExtraBold.ttf"); }

@font-face {
  font-family: "OpenSans ExtraBoldItalic";
  src: url("../Content/fonts/OpenSans-ExtraBoldItalic.ttf"); }

@font-face {
  font-family: "OpenSans Italic";
  src: url("../Content/fonts/OpenSans-Italic.ttf"); }

@font-face {
  font-family: "OpenSans Light";
  src: url("../Content/fonts/OpenSans-Light.ttf"); }

@font-face {
  font-family: "OpenSans LightItalic";
  src: url("../Content/fonts/OpenSans-LightItalic.ttf"); }

@font-face {
  font-family: "OpenSans Regular";
  src: url("../Content/fonts/OpenSans-Regular.ttf"); }

@font-face {
  font-family: "OpenSans Semibold";
  src: url("../Content/fonts/OpenSans-Semibold.ttf"); }

@font-face {
  font-family: "OpenSans SemiboldItalic";
  src: url("../Content/fonts/OpenSans-SemiboldItalic.ttf"); }

* {
  font-family: "OpenSans Regular"; }

html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: transparent; }

p, a, h1, h2, h3, h4, h5, h6 {
  font-family: arial;
  color: #fff; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #fff; }

::-webkit-input-placeholder {
  font-style: italic; }

:-moz-placeholder {
  /* Firefox 18- */
  font-style: italic; }

::-moz-placeholder {
  /* Firefox 19+ */
  font-style: italic; }

:-ms-input-placeholder {
  font-style: italic; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }

.dots_bg {
  position: absolute;
  float: left;
  width: 100%;
  min-height: 100%;
  background-image: url(../Content/img/dots_bg.png);
  opacity: 0.5;
  background-size: 4px; }

.body_content {
  margin: 0; }

.full_width {
  width: 100%; }

.full_height {
  height: 100%; }

.text_align_center {
  text-align: center; }

.position_relative {
  position: relative; }

.no_bootstrap_padding {
  padding-left: 0 !important;
  padding-right: 0 !important; }

#header {
  background-color: #000;
  padding: 10px 25px;
  line-height: 100%;
  position: relative; }

.header_btn {
  margin: 0;
  display: inline-block;
  width: 28px;
  height: 20px;
  background: url(../Content/img/mobile_menu_icon.png);
  background-repeat: no-repeat;
  background-size: 28px auto; }

.header_title {
  margin: 0;
  display: inline-block;
  float: right;
  font-size: 16px;
  font-family: "Moon Bold";
  letter-spacing: 2px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translate(0, -50%); }

.header_title_span {
  font-family: "Moon Light"; }

#side_menu_header {
  background-color: #000;
  height: 42px;
  line-height: 100%;
  position: relative; }

#side_menu {
  transition: all 400ms ease-out;
  position: fixed;
  width: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: #000;
  margin-left: -100%;
  width: 80%;
  -webkit-box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 0px 7px 0px rgba(0, 0, 0, 0.75); }

#side_menu_logo {
  height: 70px;
  position: absolute;
  bottom: 25px;
  right: 25px;
  opacity: 0.8; }

#side_menu_close_btn {
  color: #fff;
  font-size: 24px;
  float: right;
  margin-top: 15px;
  margin-right: 25px; }

.side_menu_ul {
  margin: 25px 25px 0 25px; }

.side_menu_ul li {
  border-bottom: 2px solid #3d5484;
  padding-bottom: 3px;
  margin-bottom: 15px; }

.search_container {
  position: relative;
  display: table;
  border-collapse: separate;
  background-color: #171717; }

.search_input {
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 6px 6px 6px 25px;
  font-style: normal;
  box-shadow: none;
  width: 100%; }

.search_btn_container {
  display: table-cell;
  width: 1%;
  vertical-align: middle;
  background-color: #3d5484; }

.btn_search {
  border-radius: 0;
  background-color: #3d5484;
  color: #fff;
  padding: 6px 25px 6px 25px;
  margin-left: 0; }

.homepage_img_container {
  width: 100%;
  height: 150px;
  background: url(../Content/img/homepage_bg.jpg) center center no-repeat;
  background-size: 100%;
  position: relative; }

.homepage_events_container {
  overflow: auto; }

.homepage_event_category_container {
  background: black; }

.homepage_event_category_h3 {
  display: block;
  color: #fff;
  font-family: arial;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 10px 10px 25px;
  border-bottom: 1px #444 solid; }

.homepage_event_category_h3_span {
  display: block; }

.homepage_event_category_li {
  border-bottom: 1px #444 solid;
  padding: 10px 0; }

.homepage_event_category_li_date {
  color: #fff;
  font-family: "OpenSans Regular";
  font-size: 27px;
  display: inline-block;
  border-left: 5px #009aff solid;
  line-height: 100%;
  padding: 0 10px;
  text-align: center; }

.homepage_event_category_li_date_month {
  font-family: "OpenSans Regular";
  font-size: 18px;
  text-transform: lowercase;
  line-height: 100%; }

.homepage_event_category_li_text {
  color: #fff;
  font-family: "OpenSans Light";
  font-size: 27px;
  display: inline-block;
  line-height: 100%; }

.homepage_event_category_li_text_location {
  color: #949494;
  font-family: "OpenSans Light";
  font-size: 18px;
  text-transform: capitalize;
  line-height: 100%; }

.navbar {
  display: none; }

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  height: 20%;
  margin-bottom: 0px; }

.navbar-nav {
  margin-top: 10px; }

.navbar-nav li a {
  padding: 0; }

.navbar-nav li {
  padding: 0; }

#logo {
  height: 75px;
  width: 75px;
  display: none; }

.middleVerticalAlign {
  display: table-cell;
  vertical-align: middle; }

.bottomVerticalAlign {
  position: relative;
  top: 60%;
  transform: translateY(-50%); }

.logoDiv {
  margin-right: 10px;
  display: table;
  height: 100%; }

.fullWidth {
  width: 100%; }

.fullHeight {
  height: 100%; }

.blueBorderHover {
  display: inline-block;
  line-height: 200%;
  color: #fff; }

.blueBorderHover:after {
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  -webkit-transform: scaleX(0.0001);
  -ms-transform: scaleX(0.0001);
  transform: scaleX(0.0001);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out; }

.blueBorderHover:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1); }

.height65p {
  height: 65%; }

.height7p {
  height: 7%; }

.height10p {
  height: 10%; }

.height30p {
  height: 30%; }

.height20p {
  height: 20%; }

.height50p {
  height: 50%; }

.overflowAuto {
  overflow: auto; }

#clockdiv {
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  color: white; }

#clockdiv > div {
  padding: 10px;
  display: inline-block; }

#clockdiv div > span {
  padding: 15px;
  display: inline-block; }

.smalltext {
  padding-top: 5px;
  font-size: 16px; }

.changeUtcArrows {
  padding: 0px 30px 0px 30px;
  cursor: pointer; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */
  background: transparent;
  /* optional: just make scrollbar invisible */ }

::-webkit-scrollbar-thumb {
  background: #FF0000; }

.event-list {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  background-clip: content-box; }

.custom-event-lists {
  margin-top: 20px; }

.custom-event-lists:first-child {
  margin-top: 0px; }

.custom-event-lists .ticketView {
  background-color: transparent;
  border: 0 solid; }

.eventTitle {
  border-bottom: 1px solid #ffffff !important;
  margin-bottom: 3px; }

.scrollArrow {
  color: white;
  position: fixed;
  padding: 2em;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, 0%); }

.ui-autocomplete {
  color: #fff;
  font-size: 12px;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  padding: 6px 0;
  margin: 0 0 10px 25px;
  width: 100%;
  list-style: none;
  background-color: #0E0E0E;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px; }

.ui-state-hover,
.ui-state-active {
  color: #fff;
  text-decoration: none;
  background-color: #171717;
  border-radius: 0px; }

ul.ui-autocomplete.ui-menu li {
  padding: 5px 25px; }

.ui-helper-hidden-accessible {
  display: none; }

@media (min-width: 768px) {
  html {
    background: url(../Content/img/homepage_bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; } }
