<div class="dots_bg"></div>
<div class="body_content overwrite-bootstrap-grid">
   <% var responseObject = JSON.parse(response);%>
  <div id="search_container_userdashboard_view" class="search_container">
    <i class="glyphicon glyphicon-search only_large_display search_input_legend"></i>
    <input id="search-input" class="search_input" type="text" placeholder="Look up an event ..." class="form-control input-md" />
    <div class="search_list_controller_group">
      <span class="search_btn_container">
      <button class="btn btn_search" type="button">
        <span>
          <i class="glyphicon glyphicon-search only_mobile_display"></i>
          <span class="search_btn_text_search only_large_display">Search</span>
        </span>
      </button>
      </span>
    </div>   
  </div>

  <div class="homepage_img_container">
    <div class="dots_bg"></div>
    <h3 class="secondary_title ellipsis">
      <%= responseObject.username ? responseObject.username+ "'s" : 'Search'%>
      <br>
      events
    </h3>
  </div>
    
  <div class="col-xs-0 col-sm-0 col-md-2 no_bootstrap_padding"></div>
  <div class="col-xs-12 col-sm-12 col-md-8 no_bootstrap_padding">
    <h3 class="list_header_h3 only_large_display_block"><%= responseObject.username ? responseObject.username+ "'s" : 'Search'%><span class="list_header_h3_span">events</span></h3>
    <div id="list_controller_dropdown" class="list_controller display_block">
      <div class="list_controller_dropdown_item" data-page-order="alphabetical">
        <span class="list_controller_span">Alphabetical</span>
      </div>
      <div class="list_controller_dropdown_item" data-page-order="popular">
        <span class="list_controller_span">Popular</span>
      </div>
      <div class="list_controller_dropdown_item" data-page-order="chronological">
        <span class="list_controller_span">Chronological</span>
      </div>
    </div>
  </div>
  <div class="col-xs-0 col-sm-0 col-md-2 no_bootstrap_padding"></div>
  <div class="clear"></div>

  <!-- Search results list -->
  <div class="col-xs-0 col-sm-0 col-md-2 no_bootstrap_padding"></div>
  <div class="col-xs-12 col-sm-12 col-md-8 no_bootstrap_padding homepage_event_category_ul_container">
    <div class="events_list_anchor"></div>
  </div>
  <div class="col-xs-0 col-sm-0 col-md-2 no_bootstrap_padding"></div>
    
</div>