    <ul class="homepage_event_category_ul category_event_ul">
      <% var eventsInCategoryCounter = 0;
         var responseObject = JSON.parse(response);
         if(responseObject.results.length > 0){
         for (var key in responseObject.results) {%>

          <li class="homepage_event_category_li category_event_li" id="<%=responseObject.results[key].id + '_' + responseObject.results[key].name%>">
            <div class="li_background_pic" style="background: url(../Content/img/background/<%=responseObject.results[key].background%>_medium.jpg);"></div>
            <div class="black_overlay position_absolute"></div>
            
            <div class="homepage_event_category_li_date category_event_li_date">
              <%= (responseObject.results[key].isLocal && parseInt(responseObject.results[key].isLocal)) ?
                 moment(new Date(moment.utc(responseObject.results[key].eventDate))).format("D") :
                 moment(responseObject.results[key].eventDate).format("D") %>
              <div class="homepage_event_category_li_date_month category_event_li_date_month">
                <%= (responseObject.results[key].isLocal && parseInt(responseObject.results[key].isLocal)) ? 
                   moment(new Date(moment.utc(responseObject.results[key].eventDate))).format("MMM") :
                   moment(responseObject.results[key].eventDate).format("MMM") %>
              </div>
              <div class="homepage_event_category_li_date_year">
                <%= (responseObject.results[key].isLocal && parseInt(responseObject.results[key].isLocal)) ? 
                   moment(new Date(moment.utc(responseObject.results[key].eventDate))).format("YYYY") : moment(responseObject.results[key].eventDate).format("YYYY") %>
              </div>
            </div>


            <div class="homepage_event_category_li_text category_event_li_text user_dasbboard_li_text ellipsis">
              <%= responseObject.results[key].name %>
              <div class="homepage_event_category_li_text_location category_event_li_text"><% if(responseObject.results[key].location) { %>  <%=responseObject.results[key].location%><% } else { %>WorldWide<% } %>&nbsp;
              </div>
              <div class="homepage_event_category_li_text_creator">
                Created by: <span class="homepage_event_category_li_text_creator_span"><%=responseObject.results[key].creatorUser%></span>
              </div>
            </div>
           <a data-toggle="tooltip" class="edit_event_icon" title="Edit event"><span class="glyphicon glyphicon-edit"></span></a>
          </li>
      
      <% eventsInCategoryCounter += 1;
         } } else {%>
          <li class="homepage_event_category_not_found_li" >
            <div class="black_overlay position_absolute"></div>
            
            <div class="homepage_event_category_li_text no_events">
              <% if(!responseObject.error) { %>No events found. <% } else { %> Something went wrong. We are sorry for the inconvenience. <% } %>
            </div>
          </li>
      <% }%>
        
      <% if (responseObject.totalResults > 10) { %>
        <li class="list_footer text_align_center light_blue_bg">
          <div class="col-xs-3 col-sm-2 list_footer_dropdown_div">
            <fieldset>
              <label for="list_footer_item_input_select" class="list_footer_item_input_label">
                <span class="textinput_inside_span">JUMP TO:</span>
                <select id="list_footer_item_input_select" class="list_footer_item_input_select">
                  <% for (var i = 0; i < Math.ceil(responseObject.totalResults/10); i++) { %>
                    <option class="list_footer_item_input_select_option" <% if (i == selectedPage) { %>selected="selected"<% } %> data-page-number="<%=i%>"><%=i + 1%></option>
                  <% } %>
                </select>
              </label>
            </fieldset>
          </div>
          <div class="col-xs-9 col-sm-10 list_footer_item_container">
              <div class="col-xs-2 col-sm-1">
                <% if (selectedPage !== 0) { %>
                  <a class="list_footer_double_arrows list_footer_left_arrow" data-page-number="<%=0%>"><span><i class="fa fa-angle-double-left fa-2x list_footer_double_arrows"></i></span></a>
                <% } %>
              </div>
              <div class="col-xs-8 col-sm-10 no_padding">
                <span class="list_footer_item_container">
                  <% var numberOfPages = (window.innerWidth <= 1024 ? 3 : 7);%>
                  <% if (Math.ceil(responseObject.totalResults/10) < numberOfPages) { %>
                      <% for (var i = 0; i < Math.ceil(responseObject.totalResults/10); i++) { %>
                        <a class="list_footer_item" data-page-number="<%=i%>"><%= i+1 %></a><span class="list_footer_separator"><% if (i!==Math.ceil(responseObject.totalResults/10)-1) { %>|<% } %></span>
                      <% } %>
                  <% } else if (selectedPage < 4 && numberOfPages === 7) { %>
                    <% for(var i = 0; i < numberOfPages; i++) { %>
                      <a class="list_footer_item" data-page-number="<%=i%>"><%= i+1 %></a><span class="list_footer_separator"><% if(i!==6) { %>|<% } %></span>
                    <% } %>
                  <% } else if (numberOfPages === 7 && selectedPage > Math.ceil(responseObject.totalResults/10) - 4) { %>
                    <% for(var i = Math.ceil(responseObject.totalResults/10)-7; i < Math.ceil(responseObject.totalResults/10); i++) { %>
                      <a class="list_footer_item" data-page-number="<%=i%>"><%= i+1 %></a><span class="list_footer_separator"><% if(i!==Math.ceil(responseObject.totalResults/10)-1) { %>|<% }%></span>
                    <% } %>
                  <% } else if (selectedPage < 2 && numberOfPages === 3) { %>
                    <% for(var i = 0; i < numberOfPages; i++) { %>
                      <a class="list_footer_item" data-page-number="<%=i%>"><%= i+1 %></a><span class="list_footer_separator"><% if(i!==2) { %>|<% } %></span>
                    <% } %>
                  <% } else if (numberOfPages === 3 && selectedPage > Math.ceil(responseObject.totalResults/10) - 2) { %>
                    <% for(var i = Math.ceil(responseObject.totalResults/10)-3; i < Math.ceil(responseObject.totalResults/10); i++) { %>
                      <a class="list_footer_item" data-page-number="<%=i%>"><%= i+1 %></a><span class="list_footer_separator"><% if(i!==Math.ceil(responseObject.totalResults/10)-1) { %>|<% }%></span>
                    <% } %>
                  <% } else { %>
                    <% for (var i = selectedPage-Math.floor(numberOfPages/2); i < selectedPage+Math.ceil(numberOfPages/2); i++) { %>
                      <a class="list_footer_item" data-page-number="<%=i%>"><%= i+1 %></a><span class="list_footer_separator"><% if(i!==selectedPage+Math.ceil(numberOfPages/2)-1) { %>|<% } %></span>
                    <% } %>
                  <% } %>
                </span>   
              </div>
              <div class="col-xs-2 col-sm-1">
                <% if (selectedPage !== Math.ceil(responseObject.totalResults/10) - 1) { %>
                  <a class="list_footer_double_arrows list_footer_right_arrow" data-page-number="<%=Math.ceil(responseObject.totalResults/10)-1%>"><span><i class="fa fa-angle-double-right fa-2x list_footer_double_arrows"></i></span></a>
                <% } %>
              </div>
          </div> 
        </li>
      <% } %>
    </ul>