<div class="dots_bg"></div>
<div class='body_content'>
  <div class="search_container">
    <i class="glyphicon glyphicon-search only_large_display search_input_legend"></i>
    <input id="search-input" class="search_input" type="text" placeholder="Look up an event ..." class="form-control input-md" />
    <span class="search_btn_container">
      <button class="btn btn_search" type="button">
        <span>
          <i class="glyphicon glyphicon-search only_mobile_display"></i>
          <span class="search_btn_text_search only_large_display">Search</span>
        </span>
      </button>
    </span>
  </div>

  <div class="homepage_img_container">
    <div class="dots_bg"></div>
  </div>

  <div id="events_div" class="homepage_events_container">

    <% var categoriesCounter = 0;
       Object.keys(response).forEach(function(key,index) {
         var currentEventCategory = response[key]; 
         categoriesCounter += 1; %>

      <div class="col-xs-12 col-sm-4 no_bootstrap_padding homepage_event_category_container">

        <h3 class="homepage_event_category_h3"><%= key %><span class="homepage_event_category_h3_span">events</span></h3>
        <ul class="homepage_event_category_ul">
          <% if (currentEventCategory.length <= 0) { %>
            <li class="homepage_event_category_li_unavailable">
              <div class="homepage_event_category_li_text_unavailable ellipsis">
                No events here.
              </div>
            </li>
          <% } %>
          <% for(var i = 0; i < currentEventCategory.length; i++) { %>
            <li class="homepage_event_category_li" id="<%=currentEventCategory[i].id + '_' + currentEventCategory[i].name%>">
              <div class="li_background_pic" style="background: url(../Content/img/homepage_bg.jpg);"></div>
              <div class="black_overlay position_absolute"></div>
              
              <div class="homepage_event_category_li_date">
                <%= (currentEventCategory[i].isGlobal && parseInt(currentEventCategory[i].isGlobal)) ? moment(currentEventCategory[i].eventDate).format("D") : moment(new Date(moment.utc(currentEventCategory[i].eventDate))).format("D") %>
                <div class="homepage_event_category_li_date_month">
                  <%= (currentEventCategory[i].isGlobal && parseInt(currentEventCategory[i].isGlobal)) ? moment(currentEventCategory[i].eventDate).format("MMM") : moment(new Date(moment.utc(currentEventCategory[i].eventDate))).format("MMM") %>
                </div>
              </div>

              <div class="homepage_event_category_li_text ellipsis">
                <%= currentEventCategory[i].name %>
                <div class="homepage_event_category_li_text_location">
                  <% if(currentEventCategory[i].cityName) { %>
                    <%=currentEventCategory[i].cityName%>
                  <% } %>
                  <% if(currentEventCategory[i].cityName !== currentEventCategory[i].regionName) { %>,
                    <%=currentEventCategory[i].regionName%>
                  <% } %>
                  <% if(currentEventCategory[i].countryName !== 'Worldwide' && currentEventCategory[i].countryName !== 'worldwide' && currentEventCategory[i].countryName !== undefined) { %>,
                    <%=currentEventCategory[i].countryName%>
                  <% } %>&nbsp;
                </div>
              </div>
            </li>
          <% } %>
                
          <li class="homepage_event_category_li light_blue_bg text_align_center">
            <a href="" class="homepage_event_category_li_see_more">see more from <span class="homepage_event_category_li_see_more_span"><%= key %></span></a>
          </li>
        </ul>

      </div>
      <% if ((categoriesCounter % 3) === 0) { %>
        <div class="clear"></div>
      <% } %>
    <% }); %>

    <span id="top-link-block" class="hidden only_mobile_display">
      <a href="#top" class="well well-sm"  onclick="$('html,body').animate({scrollTop:0},'slow');return false;">
        <i class="glyphicon glyphicon-chevron-up" id="glyphicon-go-top"></i>
      </a>
    </span>

  </div>

</div>
