<div class="dotsBg"></div>

<nav class="navbar navbar-default">
  <div class="navbar-header col-xs-8 bottomVerticalAlign">   
    <ul class="nav navbar-nav fullWidth ">
      <li class="col-xs-3 textAlignCenter">
        <a href="" class="fullHeight">
          <span class="blueBorderHover ">ALL&nbsp;THE&nbsp;TIMERS</span>
        </a>
      </li>
      <li class="col-xs-3 textAlignCenter">
        <a href="" class="fullHeight">
          <span class="blueBorderHover ">UPCOMING&nbsp;EVENTS</span>
        </a>
      </li>
      <li class="col-xs-3 textAlignCenter">
        <a href="" class="fullHeight">
          <span class="blueBorderHover ">RANDOM&nbsp;EVENT</span>
        </a>
      </li>
      <li class="col-xs-3 textAlignCenter"></li>
    </ul>
  </div>
  <div class="col-xs-4">
    <div class="logoDiv pull-right">
      <a class="navbar-brand middleVerticalAlign" href="#"><img id="logo" src="../../Content/img/eventsnitch_logo_white.png" /></a>  
    </div>
  </div>
</nav>
<div class='body-content height65p positionRelative'>
  <h4 class="textAlignCenter">Fa-ma frumos cu css Constaaaaa, ca eu am lucrat mai mult cu JS si mai putin cu bootstrap, mai ales de 6 luni incoace de cand fac backend :(.</h4>
</div>
<div class="footer height10p ">
  <div class="bottomVerticalAlign textAlignCenter">
    <p>© 2016 EventSnitch. All Rights Reserved | Created by CJ Team</p>
  </div>
</div>