<nav class="navbar navbar-default">
    <div class="navbar-header col-xs-6">   
        <ul class="nav navbar-nav fullWidth">
            <li class="col-xs-4"><a href="" class="fullHeight"><span class="blueBorderHover middleAllign">ALL THE TIMERS</span></a></li>
            <li class="col-xs-4"><a href="" class="fullHeight"><span class="blueBorderHover middleAllign">UPCOMING EVENTS</span></a></li>
            <li class="col-xs-4"><a href="" class="fullHeight"><span class="blueBorderHover middleAllign">RANDOM EVENT</span></a></li>
        </ul>   
    </div>
    <div class="col-xs-6">
        <div class="logoDiv pull-right">
            <a class="navbar-brand middleAllign" href="#"><img id="logo" src="images/logo.png" /></a>  
        </div>
    </div>
</nav>
<div class="container">
    <p id="event0"></p> 
    <p id="event1"></p>    
</div>

