// Variables
// --------------------------------------------------
$lightBlue: #009aff;
$darkBlue: #3d5484;
// Fonts
// --------------------------------------------------
@font-face {
  font-family: "Moon Bold";
  src: url("../Content/fonts/Moon Bold.otf");
}
@font-face {
  font-family: "Moon Light";
  src: url("../Content/fonts/Moon Light.otf");
}
@font-face {
  font-family: "OpenSans Bold";
  src: url("../Content/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans BoldItalic";
  src: url("../Content/fonts/OpenSans-BoldItalic.ttf");
}
@font-face {
  font-family: "OpenSans ExtraBold";
  src: url("../Content/fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "OpenSans ExtraBoldItalic";
  src: url("../Content/fonts/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "OpenSans Italic";
  src: url("../Content/fonts/OpenSans-Italic.ttf");
}
@font-face {
  font-family: "OpenSans Light";
  src: url("../Content/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSans LightItalic";
  src: url("../Content/fonts/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("../Content/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans Semibold";
  src: url("../Content/fonts/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: "OpenSans SemiboldItalic";
  src: url("../Content/fonts/OpenSans-SemiboldItalic.ttf");
}

// Common HTML elements
// --------------------------------------------------
* {
  font-family: "OpenSans Regular";
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: transparent;
}
p, a, h1, h2, h3, h4, h5, h6 {
  font-family: arial;
  color: #fff;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a:link, a:hover, a:visited, a:active {
  text-decoration: none;
  color: #fff;
}
::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  font-style: italic;
}
::-moz-placeholder {  /* Firefox 19+ */
  font-style: italic;
}
:-ms-input-placeholder {  
  font-style: italic;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
// Common complex elements
// --------------------------------------------------
#main {
  overflow: auto;
  height: calc(100% - 90px);
  width: 100%;
  position: relative;
  display: table;
  table-layout: fixed;
}
.dots_bg {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-image: url(../Content/img/dots_bg.png);
  opacity: 0.5;
  background-size: 4px;
  top: 0;
}
.body_content {
  margin: 0;
  background-color: #000;
}
.black_overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.black_overlay_side_menu {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.black_overlay_search_input {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.navbar {
  display: none;
}
.gray_up_arrow_5px {
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #a9a9a9;
}
.gray_down_arrow_5px {
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #a9a9a9;
}
// List elements
.list_header_h3 {
  display: block;
  color: #fff;
  font-family: arial;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 10px 10px 25px;
  border-bottom: 1px #444 solid;
  background: rgba(0, 0, 0, 0.7);
}
.list_header_h3_span {
  display: block;
}
.list_footer {
  position: relative;
  border-bottom: 1px #444 solid;
  padding: 0;
  overflow: auto;
}
.list_footer_item_container {
  line-height: 52px;
}
.list_footer_item {
  color: #fff;
  font-family: "OpenSans Light";
  font-size: 18px;
  line-height: 50px;
  display: inline-block;
  width: 30.5px;
  cursor: pointer;
  text-align: center;
}
.list_footer_item_input_select {
  font-family: "OpenSans Semibold";
  color: #171717;
  border: #fff solid 2px;
  width: 42px;
  position: relative;
  display: block;
  font-size: 10px;
}
.list_footer_item_input_select_description {
  position: absolute;
  top: 2px;
  left: 2px;
}
.list_footer_separator {
  color: #fff;
  font-family: "OpenSans Light";
  font-size: 20px;
  font-size: 24px;
  margin-left: 2px;
  line-height: 50px;
  text-align: center;
}
.list_footer_double_arrows {
  color: #fff;
  font-size: 18px;
  line-height: 50px;
  display: inline-block;
  width: auto;
  cursor: pointer;
  text-align: center;
}
.list_footer_item_selected {
  font-weight: bold;
  font-family: "OpenSans ExtraBold";
  text-align: center;
}
.list_footer_item_input_label {
  background-color: #fff;
  margin-top: 10px;
  padding: 5px 3px 0 3px;
}
.list_footer_dropdown_div {
  font-family: "OpenSans Light";
}
.textinput_inside_span {
  font-family: "Moon Bold";
  font-size: 10px;
  color: #009aff;
  display: block;
}
// Common classes
// --------------------------------------------------
.full_width {
  width: 100%;
}
.full_height {
  height: 100%;
}
.text_align_center {
  text-align: center;
}
.position_relative {
  position: relative;
}
.position_absolute {
  position: absolute;
}
.no_bootstrap_padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.light_blue_bg {
  background-color: $lightBlue !important;
}
.margin_left_none {
  margin-left: none !important;
}
.margin_right_none {
  margin-right: none !important;
}
.clear {
  clear: both;
}
.ellipsis {
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap; 
}
.secondary_title {
  display: block;
  color: #fff;
  font-family: arial;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 10px 10px 25px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.secondary_subtitle {
  display: block;
}
.display_block {
  display: block !important;
}
.display_none {
  display: none;
}
.no_padding {
  padding: 0;
}
.no_select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
// Common modal
// --------------------------------------------------
.common_modal {
  &__wrap {
    position: relative;
    max-width: 520px;
    min-height: 450px;
    background: url(../Content/img/1.jpg) no-repeat center;
    background-size: cover;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  &__close_btn {
    position: absolute;
    color: #fff;
    z-index: 9;
    opacity: 1;
    top: 10px;
    right: 15px;
  }
  &__content_container {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: $darkBlue;
    opacity: 0.9;
    border-radius: 0;
  }
  &__title {
    text-transform: uppercase;
    font-family: "Moon Bold";
    font-size: 22px;
    padding: 0 0 5px 0;
    display: inline-block;
    border-bottom: 2px solid $lightBlue;
  }
  &__header {
    padding: 0;
    border-bottom: none;
  }
  &__body {
    padding: 15px 0;
  }
  &__label {
    color: #c8c8c8;
    font-size: 12px;
    width: 100%;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: 5px;
  }
  &__select {
    border: none;
    padding: 15px 20px;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    color: #fff;
    display: block;
    cursor: pointer;
    option {
      color: #000;
    }
  }
}
    
// Mobile defaults
// --------------------------------------------------
.only_mobile_display {
  display: inline;
}
.only_mobile_display_block {
  display: block;
}
.only_large_display {
  display: none;
}
.only_large_display_block {
  display: none;
}
// Header
// --------------------------------------------------
.header {
  background-color: #000;
  padding: 10px 25px;
  line-height: 100%;
  position: relative;
}
.header_btn {
  margin: 0;
  display: inline-block;
  width: 28px;
  height: 20px;
  background: url(../Content/img/mobile_menu_icon.png);
  background-repeat: no-repeat;
  background-size: 28px auto;
}
.header_title {
  margin: 0;
  display: inline-block;
  float: right;
  font-size: 16px; 
  font-family: "Moon Bold";
  letter-spacing: 2px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translate(0, -50%);
  line-height: 100%;
}
.header_title_span {
  font-family: "Moon Light";
}
.header_logo {
  display: none;
}

// Side bar
// --------------------------------------------------
#side_menu {
  transition: all 400ms ease-out;
  position: fixed;
  width: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: #000;
  margin-left: -100%;
  width: 80%;
  -webkit-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.75);
}
.side_menu_header{
  background-color: #000;
  line-height: 100%;
  position: relative;
  padding: 15px 25px;
}
.side_menu_timezone_container {
  display: inline-block;
  width: calc(100% - 35px);
}
.side_menu_timezone {
  font-family: "Moon Bold";
  font-size: 16px;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
}
.side_menu_timezone_div {
  font-family: "Moon Light";
  color: $lightBlue;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}
.side_menu_timezone_btn:link, .side_menu_timezone_btn:visited {
  font-family: "Moon Bold";
  font-size: 12px;
  color: #949494;
  text-transform: uppercase;
  text-decoration: underline;
}
.side_menu_timezone_btn:hover, .side_menu_timezone_btn:active {
  color: #E0E0E0;
}
.side_menu_close_btn {
  color: #fff;
  font-size: 16px;
  float: right;
}
.side_menu_ul {
  margin: 25px 25px 0 25px;
}
.side_menu_ul li {
  border-bottom: 2px solid $darkBlue;
  padding-bottom: 3px;
  margin-top: 5px;
  padding-top: 20px;
}
.side_menu_ul li:first-child {
  margin-top: 5px;
  padding-top: 5px;
}
.side_menu_logo {
  height: 70px;
  position: absolute;
  bottom: 25px;
  right: 25px;
  opacity: 0.8;
}
@media (max-width: 371px) {
  .side_menu_ul li {
    border-bottom: 2px solid $darkBlue;
    padding-bottom: 3px;
    margin-top: 5px;
    padding-top: 10px;
  }
  .side_menu_ul li:first-child {
    margin-top: 5px;
    padding-top: 5px;
  }
  .side_menu_ul li a {
    font-family: "Moon Light";
    font-size: 16px;
  }
  .side_menu_glyphicon {
    margin-right: 15px;
    font-size: 13px;
    line-height: inherit;
  }
}
@media (min-width: 371px){
  .side_menu_ul li {
    border-bottom: 2px solid $darkBlue;
    padding-bottom: 3px;
    margin-top: 5px;
    padding-top: 20px;
  }
  .side_menu_ul li:first-child {
    margin-top: 5px;
    padding-top: 5px;
  }
  .side_menu_ul li a {
    font-family: "Moon Light";
    font-size: 19px;
  }
  .side_menu_glyphicon {
    margin-right: 15px;
    font-size: 16px;
    line-height: inherit;
  }
}
// Footer
// --------------------------------------------------
.footer {
  background-color: #000;
  color: #000;
  position: relative;
}
.footer_copyright {
  margin: 0;
  font-family: "OpenSans Light";
  text-align: center;
  padding: 10px 0 10px 0;
  font-size: 10px;
  z-index: 10;
  position: relative;
}
// Homepage
// --------------------------------------------------
.search_container {
  position: relative;
  display: table;
  border-collapse: separate;
  background-color: #171717;
  width: 100%;
  z-index: 10;
}
.search_input {
  background-color: #171717;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 6px 6px 6px 25px;
  font-style: normal;
  box-shadow: none;
  width: 100%;
  height: 100%;
  position: absolute;
}
.search_btn_container {
  display: table-cell;
  width: 1%;
  vertical-align: middle;
  background-color: $darkBlue;
}
.search_list_controller_group {
  position: relative;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  float: right;
}
.btn_search {
  border-radius: 0;
  background-color: $darkBlue;
  color: #fff;
  padding: 6px 25px 6px 25px;
  margin-left: 0;
}
.homepage_img_container {
  width: 100%;
  height: 150px;
  background: url(../Content/img/homepage_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.homepage_event_category_ul_container {
  margin-bottom: 25px;
}
.homepage_events_container {
  overflow: auto;
}
.homepage_event_category_container {
  margin-bottom: 20px;
}
.homepage_event_category_container > .homepage_event_category_h3 {
  background: rgba(0, 0, 0, 1);
}
.homepage_event_category_container > .homepage_event_category_ul {
  background: rgba(0, 0, 0, 1);
}
.homepage_event_category_h3 {
  display: block;
  color: #fff;
  font-family: arial;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 10px 10px 25px;
  border-bottom: 1px #444 solid;
}
.homepage_event_category_h3_span {
  display: block;
}
.homepage_event_category_li {
  position: relative;
  border-bottom: 1px #444 solid;
  padding: 10px 0;
}
.homepage_event_category_li:hover {
  cursor: pointer;
  background: rgba(31, 31, 31, 1);
}
.li_background_pic {
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: 100% !important;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
}
.homepage_event_category_ul .homepage_event_category_li.light_blue_bg {
  padding: 0;
}
.homepage_event_category_li_date {
  color: #fff;
  font-family: "OpenSans Regular";
  font-size: 26px;
  display: inline-block;
  border-left: 5px $lightBlue solid;
  line-height: 100%;
  padding: 0 10px;
  text-align: center;
  position: relative;
  min-width: 62px;
  padding-top: 2px;
}
.homepage_event_category_li_date_month {
  font-family: "OpenSans Regular";
  font-size: 18px;
  text-transform: lowercase;
  line-height: 100%;
}
.homepage_event_category_li_date_year {
  font-family: "OpenSans Regular";
  font-size: 12px;
  text-transform: lowercase;
  line-height: 150%;
}
.homepage_event_category_li_text {
  color: #fff;
  font-family: "OpenSans Light";
  font-size: 26px;
  display: inline-block;
  line-height: 100%;
  max-width: calc(100% - 75px);
  position: relative;
  vertical-align: top;
}
.homepage_event_category_li_text_location {
  color: #c8c8c8;
  font-family: "OpenSans Light";
  font-size: 18px;
  text-transform: capitalize;
  line-height: 105%;
  transform: translate(0px, 2px);
  text-overflow: ellipsis;
  overflow: hidden;
}
.homepage_event_category_li_text_creator {
  color: #fff;
  font-size: 12px;
  font-family: "OpenSans Light";
  line-height: 22px;
}
.homepage_event_category_li_text_creator_span {
  font-family: "OpenSans Regular";
  text-decoration: underline;
}
.homepage_event_category_li_text_creator_span_search {
  font-family: "OpenSans Regular";
}
.homepage_event_category_li_unavailable {
  border-bottom: 1px #444 solid;
  padding: 10px 0;
}
.homepage_event_category_li_text_unavailable {
  color: #949494;
  font-family: "OpenSans Light";
  font-size: 20px;
  display: inline-block;
  line-height: 44px;
  padding-left: 20px;
  max-width: calc(100% - 30px);
  border-left: 5px #444 solid;
}
.homepage_event_category_li.light_blue_bg:hover {
  background-color: #fff !important;
}
.homepage_event_category_li_see_more {
  color: #fff;
  font-family: "OpenSans Light";
  font-size: 18px;
  line-height: 50px;
  width: 100%;
  display: block;
}
.homepage_event_category_li_see_more:hover {
  color: #000;
}
.homepage_event_category_li_see_more_span {
  font-style: italic;
}


#top-link-block.affix-top {
  position: absolute;
  bottom: -82px; 
  right: 10px;
}
#top-link-block.affix {
  position: fixed;
  bottom: 18px;
  right: 10px;
  z-index: 99;
}

.ui-autocomplete {
  font-size: 12px;
  z-index: 1000;
  margin: 0 0 10px 25px;
  float:left;
  left:0;
  background-color: black;
  background-image: url(../Content/img/dots_bg.png);
}
.ui-helper-hidden-accessible { display:none; }


// Category page
// --------------------------------------------------
.category_img_container {
  width: 100%;
  height: 150px;
  background: url(../Content/img/homepage_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
}
.list_controller {
  position: relative;
  background-color: #171717;
  padding: 0 6px 0 25px;
  border-bottom: 1px #444 solid;
  min-height: 32px;
}
.list_controller_group {
  display: inline-block;
  cursor: pointer;
  float: right;
}
.list_controller_span {
  margin-left: 18px;
  color: #a9a9a9;
  line-height: 30px;
      cursor: pointer;
}
#list_controller_dropdown .list_controller_dropdown_item:first-child .list_controller_span {
  margin-left: 0;
}
.list_controller_span_title {
  margin-left: 20px;
  color: #a9a9a9;
  margin-right: 40px;
  line-height: 30px;
}
#category_sort_by_arrow {
  position: absolute;
  top: 14px;
  right: 30px;
}
//.list_controller_group:hover .list_controller_span {
//  color: #3d5484;
//}
//.list_controller_group:hover #category_sort_by_arrow {
//  border-top: 5px solid #3d5484;
//}
.search_input_blue_bg {
  background-color: #3d5484;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 6px 6px 6px 25px;
  font-style: normal;
  box-shadow: none;
  width: calc(100% - 115px);
  top: 0;
  left: 0;
  position: absolute;
}
#list_controller_dropdown {
  display: none;
}
.list_controller_dropdown_item {
  display: inline-block;
}
.list_controller_dropdown_item_selected span {
  font-weight: bolder;
  text-align: center; 
  color: white;
}
.list_controller_dropdown_item:hover .list_controller_span {
  color: #3d5484;
}
// Timer page
// --------------------------------------------------
.event_time_left_prefix {
  font-size: 30px;
  font-family: "Moon Light";
  color: #fff;
  position: relative;
}
.event_title_container {
  font-size: 34px;
  font-family: "Moon Bold";
  color: #fff;
  position: relative;
}
.clock_container {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
.event_name_container {
  text-align: center;
}
#clockdiv {
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 10%;
  color: white
}
#clockdiv > div {
  padding: 10px;
  display: inline-block;
}
#clockdiv div > span {
  padding: 15px;
  display: inline-block;
}
.smalltext {
  padding-top: 5px;
  font-size: 16px;
  font-family: "OpenSans SemiBold";
}
.date_elements_container {
  text-align:center;
}
.date_elements {
  display: inline-block;
  float: none;
  margin-right: -10px;
  padding: 0;
}
.date_digit {
  font-family: "OpenSans BoldItalic";
}
.utc_info_text {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "OpenSans Regular";
  margin-bottom: 0;
}
.utc_change_btn {
  color: $lightBlue;
  cursor: pointer;
  font-size: 18px;
  font-family: "Moon Bold";
  display: inline-block;
  width: 130px;
  padding: 7px;
  margin-bottom: 0;
  text-decoration: underline;
  padding-top: 0;
}
// RANDOM - NEEDS CHANGE
.height65p {
  height: 65%;
}
.height10p {
  height: 10%;
}
.height30p {
  height: 30%;
}
.height20p {
  height: 20%;
}
.height50p {
  height: 50%;
}
.overflowAuto {
  overflow: auto;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

// Chat
// --------------------------------------------------
.chat_box {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 99;
}
.panel-primary {
  border-color: #009aff;
}
.panel-primary > .panel-heading {
  background-color: #009aff;
  border-color: #009aff;
}
.chat_header_span {
  font-family: "OpenSans SemiBold";
  font-size: 14px;
  margin-left: 10px;
}
.chat_toggle_link {
  padding: 0;
}
.chat_toggle_arrow {
  color: #000;
  margin: 5px 5px 1px 5px;
}
.chat_toggle_arrow:hover {
  color: #009aff;
}
.chat {
  list-style: none;
  margin: 0;
  padding: 0;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #B3A9A9;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
  color: #777777;
}
.panel .slidedown .glyphicon, .chat .glyphicon {
  margin-right: 5px;
}
.panel-body {
  overflow-y: scroll;
  height: 350px;
}
.panel-footer {
  padding: 0;
}
.chat_send_btn {
  background-color: #3d5484;
  color: #fff;
}
#glyphicon-go-top {
  color: black;
}
// Email response page
.email_response_container{
  position: absolute;
  height: 100%;
  width: 100%;
}
.email_response_message{
  position: relative;
  text-align: center;
  font-family: "OpenSans Semibold";
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
}
// For screens >= 768px
// --------------------------------------------------
@media (min-width: 768px) {
  // >= 768px Common HTML elements
  // --------------------------------------------------
  body {
    height: calc(100% - 25px);
  }
  // >= 768px Common complex elements
  // --------------------------------------------------
  #main {
    height: calc(100% - 165px);
  }
  .dots_bg {
    opacity: 0.7;
    background-size: 7px;
  }
  .dots_bg_header {
    left: 0;
    top: 0;
    height: 140px;
    z-index: -1;
    min-height: 0;
  }
  .body_content {
    background-color: transparent;
  }
  // >= 768px Large display defaults
  // --------------------------------------------------
  .only_mobile_display {
    display: none;
  }
  .only_mobile_display_block {
    display: none;
  }
  .only_large_display {
    display: inline;
  }
  .only_large_display_block {
    display: block;
  }
  // >= 768px Header
  // --------------------------------------------------
  #side_menu {
    display: none;
  }
  .black_overlay {
    display: none;
  }
  .black_overlay_side_menu {
    display: none;
  }
  .black_overlay_search_input {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .header_btn {
    display: none;
  }
  .header {
    background-color: transparent;
    margin: 25px;
    padding: 0;
  }
  .header_title {
    float: none;
    font-size: 50px;
    position: relative;
    right: auto;
    top: auto;
    transform: none;
    line-height: 80%;
  }
  .header_logo {
    display: block;
    height: 70px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
  }
  // >= 768px Sign Up
  // --------------------------------------------------
  .sign_up_container{
      margin:0;
      color:#6a6f8c;
      font:600 16px/18px;
      font-family: "OpenSans SemiBold";
      *,:after,:before{box-sizing:border-box;}
      .clearfix:after,.clearfix:before{content:'';display:table}
      .clearfix:after{clear:both;display:block}
      a{color:#c8c8c8;text-decoration:none}
  }

  .sign_up_wrap{
      width:100%;
      margin:auto;
      margin-top:3%;
      max-width:525px;
      min-height:670px;
      position:relative;
      background:url(../Content/img/1.jpg) no-repeat center;
      background-size: cover;
      box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  }
  .sign_up_form{
      width:100%;
      height:100%;
      position:absolute;
      padding:90px 70px 50px 70px;
      background:#3d5484;
      opacity: 0.9;
  }
  .sign_up_form .sign_in_form_container,
  .sign_up_form .sign_up_form_container,
  .sign_up_form .reset_password_form_container{
      top:0;
      left:0;
      right:0;
      bottom:0;
      position:absolute;
      transform:rotateY(180deg);
      backface-visibility:hidden;
      transition:all .4s linear;
  }
  .sign_up_form .sign_in_radio,
  .sign_up_form .sign_up_radio,
  .sign_up_form .reset_password_radio,
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_check{
      display:none;
  }
  .sign_up_form .sign_up_form_tab,
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_label,
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_button{
      text-transform:uppercase;
  }
  .sign_up_form .sign_up_form_tab{
      font-size:22px;
      margin-right:15px;
      padding-bottom:5px;
      margin:0 15px 10px 0;
      display:inline-block;
      border-bottom:2px solid transparent;
      cursor: pointer;
  }
  .sign_up_form .sign_in_radio:checked + .sign_up_form_tab,
  .sign_up_form .sign_up_radio:checked + .sign_up_form_tab
  {
      color:#fff;
      border-color:$lightBlue;
  }
  .sign_in_form_container_parent{
      min-height:345px;
      position:relative;
      perspective:1000px;
      transform-style:preserve-3d;
  }
  .sign_in_form_container_parent .sign_up_form_group{
      margin-bottom:15px;
  }
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_label,
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_input,
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_button{
      width:100%;
      color:#fff;
      display:block;
  }
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_input,
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_button{
      border:none;
      padding:15px 20px;
      background:rgba(255,255,255,.1);
  }
  .sign_in_form_container_parent .sign_up_form_group input[data-type="password"]{
      text-security:circle;
      -webkit-text-security:circle;
  }
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_label{
      color:#c8c8c8;
      font-size:12px;
      text-align: center;
  }
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_button{
      background:$lightBlue;
  }
  .sign_in_form_container_parent .sign_up_form_group label .sign_up_form_icon{
      width:15px;
      height:15px;
      border-radius:2px;
      position:relative;
      display:inline-block;
      background:rgba(255,255,255,.1);
  }
  .sign_in_form_container_parent .sign_up_form_group label .sign_up_form_icon:before,
  .sign_in_form_container_parent .sign_up_form_group label .sign_up_form_icon:after{
      content:'';
      width:10px;
      height:2px;
      background:#fff;
      position:absolute;
      transition:all .2s ease-in-out 0s;
  }
  .sign_in_form_container_parent .sign_up_form_group label .sign_up_form_icon:before{
      left:3px;
      width:5px;
      bottom:6px;
      transform:scale(0) rotate(0);
  }
  .sign_in_form_container_parent .sign_up_form_group label .sign_up_form_icon:after{
      top:6px;
      right:0;
      transform:scale(0) rotate(0);
  }
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_check:checked + label{
      color:#fff;
  }
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_check:checked + label .sign_up_form_icon{
      background:$lightBlue;
  }
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_check:checked + label .sign_up_form_icon:before{
      transform:scale(1) rotate(45deg);
  }
  .sign_in_form_container_parent .sign_up_form_group .sign_up_form_check:checked + label .sign_up_form_icon:after{
      transform:scale(1) rotate(-45deg);
  }
  .sign_up_form .sign_in_radio:checked + .sign_up_form_tab + .sign_up_radio + .sign_up_form_tab + .sign_in_form_container_parent .sign_in_form_container{
      transform:rotate(0);
  }
  .sign_up_form .sign_up_radio:checked + .sign_up_form_tab + .sign_in_form_container_parent .sign_up_form_container{
      transform:rotate(0);
  }
  .sign_up_form .sign_up_tabs_rotate_zero{
      transform:rotate(0);
  }
  
  .sign_up_form_footer_hr{
      height:2px;
      margin:30px 0 20px 0;
      background:rgba(255,255,255,.2);
  }
  .sign_up_form_footer_link{
      text-align:center;
      color:#c8c8c8;
      .reset_password_form_tab {
        font-size: 12px !important;
        text-decoration:none;
        margin-right: 0;
      }
  }
  // >= 768px Navbar
  // --------------------------------------------------
  .navbar {
    display: block;
    margin-bottom: 0;
    border: none;
  }
  .navbar-header {
    padding: 0;
    width: calc(100% - 95px);
  }
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
    height: 20%;
    margin-bottom: 0px;
  }
  .navbar-nav {
    margin-top: 5px;
    width: 100%;
  }
  .navbar-nav li {
    padding: 0;
    cursor: pointer;
  }
  .navbar-nav li a {
    padding: 0;
  }
  .blue_border_hover {
    display: inline-block;
    line-height: 200%;
    color: #fff;
    font-family: "OpenSans Semibold";
    font-size: 18px;
    text-transform: capitalize;
    margin-right: 30px;
  }
  .blue_border_hover:after {
    display: block;
    content: '';
    border-bottom: solid 3px #019fb6;
    -webkit-transform: scaleX(0.0001);
    -ms-transform: scaleX(0.0001);
    transform: scaleX(0.0001);
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
  }
  .blue_border_hover:hover:after {
    -webkit-transform: scaleX(0.8);
    -ms-transform: scaleX(0.8);
    transform: scaleX(0.8);
  }
  #navbar_last_btn {
    margin-right: 0;
  }
  .navbar_li > a {
    background-color: transparent !important;
  }
  // >= 768px Homepage
  // --------------------------------------------------
  .homepage_img_container {
    display: none;
  }
  .search_container {
    width: 50%;
    min-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .search_container {
    background-color: transparent;
  }
  .search_input_legend {
    position: absolute;
    top: 7px;
    left: 15px;
    color: #fff;
    border-right: solid 1px #fff;
    font-size: 16px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    z-index: 10;
    min-width:32px;
  }
  .search_input {
    background: rgba(0, 0, 0, 0.7);
    padding: 12px 6px 12px 65px;
    font-size: 18px;
    line-height: 100%;
    height: 100%;
  }
  .ui-autocomplete {
    background: rgba(0, 0, 0, 0.7);
    font-size: 18px;
    cursor: pointer;
    z-index: 1000;
    margin: 0 0 10px 25px;
    float:left;
    left:0;
    background-color: black;
    background-image: url(../Content/img/dots_bg.png);
  }
  .ui-helper-hidden-accessible { display:none; }
  .btn_search {
    border-radius: 0;
    background-color: #3d5484;
    color: #fff;
    padding: 10px 25px 8px 25px;
    margin-left: 0;
  }
  .search_btn_text_search {
    color: #fff;
    font-family: "Moon Light";
    font-size: 18px;
    text-transform: capitalize;
    line-height: 100%;
  }
  .homepage_events_container {
    padding: 25px;
  }
  .homepage_event_category_container {
    margin-bottom: 25px;
    padding: 0 10px !important;
  }
  .homepage_event_category_container > .homepage_event_category_h3 {
    background: rgba(0, 0, 0, 0.7);
  }
  .homepage_event_category_container > .homepage_event_category_ul {
    background: rgba(0, 0, 0, 0.5);
  }
  .homepage_event_category_li:hover {
    background: rgba(51, 122, 183, 0.5);
  }
  .li_background_pic {
    opacity: 0.3;
  }
  // >= 768px Category page
  // --------------------------------------------------
  .category_img_container {
    display: none;
  }
  
  // >= 768px Timer page
  // --------------------------------------------------
}
