// Variables
// --------------------------------------------------
$lightBlue: #009aff;
// Fonts
// --------------------------------------------------
@font-face {
  font-family: "Moon Bold";
  src: url("../Content/fonts/Moon Bold.otf");
}
@font-face {
  font-family: "Moon Light";
  src: url("../Content/fonts/Moon Light.otf");
}
@font-face {
  font-family: "OpenSans Bold";
  src: url("../Content/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "OpenSans BoldItalic";
  src: url("../Content/fonts/OpenSans-BoldItalic.ttf");
}
@font-face {
  font-family: "OpenSans ExtraBold";
  src: url("../Content/fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "OpenSans ExtraBoldItalic";
  src: url("../Content/fonts/OpenSans-ExtraBoldItalic.ttf");
}
@font-face {
  font-family: "OpenSans Italic";
  src: url("../Content/fonts/OpenSans-Italic.ttf");
}
@font-face {
  font-family: "OpenSans Light";
  src: url("../Content/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "OpenSans LightItalic";
  src: url("../Content/fonts/OpenSans-LightItalic.ttf");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("../Content/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans Semibold";
  src: url("../Content/fonts/OpenSans-Semibold.ttf");
}
@font-face {
  font-family: "OpenSans SemiboldItalic";
  src: url("../Content/fonts/OpenSans-SemiboldItalic.ttf");
}

// Common HTML elements
// --------------------------------------------------
html {
  height: 100%;
  background: url(../Content/img/homepage_bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  height: 100%;
  background: transparent;
}
p, a, h1, h2, h3, h4, h5, h6 {
  font-family: arial;
  color: #fff;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
// Common classes
// --------------------------------------------------
.textAlignCenter {
  text-align: center;
}
.positionRelative {
  position: relative;
}

// Header
// --------------------------------------------------
#header {
  background-color: #000;
  padding: 10px 25px;
  line-height: 100%;
  position: relative;
}
.header_btn {
  margin: 0;
  display: inline-block;
  width: 28px;
  height: 20px;
  background: url(../Content/img/mobile_menu_icon.png);
  background-repeat: no-repeat;
  background-size: 28px auto;
}
.header_title {
  margin: 0;
  display: inline-block;
  float: right;
  font-size: 16px; 
  font-family: "Moon Bold";
  letter-spacing: 2px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translate(0, -50%);
}
.header_title_span {
  font-family: "Moon Light";
}
// Side bar
// --------------------------------------------------
#side_menu_header{
  background-color: #000;
  height: 42px;
  line-height: 100%;
  position: relative;
}
#side_menu {
  transition: all 400ms ease-out;
  position: fixed;
  width: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  background-color: #000;
  margin-left: -100%;
  width: 80%;
  -webkit-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.75);
  box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.75);
}
#side_menu_logo {
  height: 70px;
  position: absolute;
  bottom: 25px;
  right: 25px;
  opacity: 0.8;
}
#side_menu_close_btn {
  color: #fff;
  font-size: 24px;
  float: right;
  margin-top: 15px;
  margin-right: 25px;
}
.side_menu_ul {
  margin: 25px 25px 0 25px;
}
.side_menu_ul li {
  border-bottom: 2px solid $lightBlue;
  padding-bottom: 3px;
  margin-bottom: 15px;
}
// Navbar
// --------------------------------------------------
.navbar-default {
  background-color: transparent;
  border-color: transparent;
  height: 20%;
  margin-bottom: 0px;
}
.navbar-nav {
  margin-top: 10px;
}
.navbar-nav li a {
  padding: 0;
}
.navbar-nav li {
  padding: 0;
}
#logo {
  height: 75px;
  width: 75px;
  display: none;
}
.middleVerticalAlign {
  display: table-cell;
  vertical-align: middle;
}
.bottomVerticalAlign {
  position: relative;
  top: 60%;
  transform: translateY(-50%);
}
.logoDiv {
  margin-right: 10px;
  display: table;
  height: 100%;
}
.fullWidth {
  width: 100%;
}
.fullHeight {
  height: 100%;
}
.blueBorderHover {
  display: inline-block;
  line-height: 200%;
  color: #fff;
}
.blueBorderHover:after {
  display: block;
  content: '';
  border-bottom: solid 3px #019fb6;
  -webkit-transform: scaleX(0.0001);
  -ms-transform: scaleX(0.0001);
  transform: scaleX(0.0001);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}
.blueBorderHover:hover:after {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}
.body-content {
  margin: 20px;
}
.height65p {
  height: 65%;
}
.height7p {
  height: 7%;
}
.height10p {
  height: 10%;
}
.height30p {
  height: 30%;
}
.height20p {
  height: 20%;
}
.height50p {
  height: 50%;
}
.overflowAuto {
  overflow: auto;
}
#clockdiv {
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  color: white
}
#clockdiv > div {
  padding: 10px;
  display: inline-block;
}
#clockdiv div > span {
  padding: 15px;
  display: inline-block;
}
.smalltext {
  padding-top: 5px;
  font-size: 16px;
}
.changeUtcArrows {
  padding: 0px 30px 0px 30px;
  cursor: pointer;
}
.dotsBg {
  position: absolute;
  float: left;
  width: 100%;
  min-height: 100%;
  background-image: url(../Content/img/dots_bg.png);
  opacity: 0.3;
}

#eventsDiv {
  margin: 40px auto;
  margin-bottom: 20px;
  overflow-y: scroll;
  width: 90%;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.event-list {
  background-color: rgba(0,0,0,0.7);
  color: white;
  background-clip: content-box;
}
.custom-event-lists {
  margin-top: 20px;
}

.custom-event-lists:first-child {
  margin-top: 0px;
}

.custom-event-lists .ticketView {
  background-color: transparent;
  border: 0 solid;
}

.eventTitle {
  border-bottom: 1px solid #ffffff !important;
  margin-bottom: 3px;
}

.scrollArrow {
  color: white;
  position: fixed;
  padding: 2em;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%, 0%);
}

#custom-search-input {
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #424242;
  border-color: #424242;
  width: 30%;
  margin: auto;
}
#custom-search-input input {
  border: 0;
  box-shadow: none;
  color: #ccc;
}
#custom-search-input .glyphicon-search {
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-right: solid 1px #ccc;
  color: #ccc;
}
#custom-search-input .glyphicon-search:hover {
  border: 0;
  box-shadow: none;
  border-right: solid 1px #ccc;
}
#custom-search-input .glyphicon-search {
  font-size: 23px;
}
#search-input {
  background-color: #424242;
}
.ui-autocomplete {
  color: #ccc;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  padding: 4px 0;
  margin: 0 0 10px 25px;
  list-style: none;
  background-color: #424242;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-state-hover,
.ui-state-active {
  color: #424242;
  text-decoration: none;
  background-color: #ccc;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  background-image: none;
}
ul.ui-autocomplete.ui-menu li:first-child {
  padding-bottom: 5px;
}
ul.ui-autocomplete.ui-menu li:not(:first-child) {
  padding-top: 5px;
  border-top: solid 1px #ccc;
}

.ui-helper-hidden-accessible { display:none; }
