<div class="timerview__fixed-content">
  <div id="timerviewDotsBg" class="dots_bg"></div>
  <div class='body_content'>
    <div class='col-xs-12 timer_content no_bootstrap_padding'>
      <div class="event_name_container">
        <div>
          <h2 id="timeTitle" class="event_time_left_prefix"></h2>
        </div>
        <div>
          <h2 id="eventName" class="event_title_container"><%=eventName%></h2>
        </div>
      </div>
      <div class="overflowAuto clock_container">
        <div id="clockdiv" class="clock_container__body">
          <div class="col-xs-12">
            <div id="daysCol" class="col-xs-3 clock_container__bootstrap_container">
              <span id="daysColValue" class="days date_digit"></span>
              <span class="date_digit clock_container__days_colon">:</span>
              <div id="days_value_title" class="clock_container__col_description"></div>
            </div>
            <div class="col-xs-3 clock_container__bootstrap_container">
              <span class="hours date_digit"></span>
              <span class="date_digit clock_container__colon">:</span>
              <div id="hours_value_title" class="clock_container__col_description"></div>
            </div>
            <div class="col-xs-3 clock_container__bootstrap_container">
              <span class="minutes date_digit"></span>
              <span class="date_digit clock_container__colon">:</span>
              <div id="minutes_value_title" class="clock_container__col_description"></div>
            </div>
            <div class="col-xs-3 clock_container__bootstrap_container">
              <span class="seconds date_digit"></span>
              <div id="seconds_value_title" class="clock_container__col_description"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="overflowAuto text_align_center display_none" id="changeUtcButton">
        <p id="utcText" class="utc_info_text"></p>
        <p id="utcChange" class="utc_change_btn">change</p>
      </div>
    </div>
  </div>
</div>
          
<div id="crawlerContainer" class="crawler__container display_none">
  <div id="crawlerHeader" class="crawler__header no_select">
    <span class="crawler__header-text">more info</span>
    <div class="crawler__canvas-container">
      <canvas id="crawlerCanvas" class="crawler__canvas"></canvas>
    </div>
    <div class="btn-group pull-right crawler__header-btn_container">
      <a type="button" id="crawlerToggleBtn" class="btn btn-xs crawler__header-toggle">
        <span id="crawlerToggleBtnIcon" class="glyphicon glyphicon-menu-up"></span>
      </a>
    </div>
  </div>
  <div class="crawler__slot crawler__slot-first no_border">
    <div id="crawlerEventImg" class="crawler__slot-logo"></div>
    <div class="crawler__slot-content">
      111 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="crawler__slot full">
    <div class="map_view_anchor"></div>
  </div>
  <div class="crawler__slot">
    <div class="crawler__slot-logo fb"></div>
    <div class="crawler__slot-content">
      111 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="crawler__slot">
    <div class="crawler__slot-logo yt"></div>
    <div class="crawler__slot-content">
      111 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="crawler__slot">
    <div class="crawler__slot-logo tw"></div>
    <div class="crawler__slot-content">
      111 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="crawler__slot">
    <div class="crawler__slot-logo ig"></div>
    <div class="crawler__slot-content">
      111 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  <div class="crawler__slot">
    <div class="crawler__slot-logo"></div>
    <div class="crawler__slot-content">
      111 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="timezoneModal">
  <div class="modal-dialog common_modal__wrap" role="document">
    <button type="button" class="close common_modal__close_btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="modal-content common_modal__content_container">
      <div class="modal-header common_modal__header">
        <h4 class="modal-title common_modal__title">Pick your timezone</h4>
      </div>
      <div class="modal-body common_modal__body">
        <select name="commonModalSelect" id="commonModalSelect" class="common_modal__select">
          <option value="<%=currentTimezone.offset%>" data-timezone-name="<%=currentTimezone.name%>" selected><%=currentTimezone.display%></option>
          <% for(var i = 0; i < timezones.length; i++) { %>
            <option value="<%=timezones[i].offset%>" data-timezone-name="<%=timezones[i].name%>"><%=timezones[i].display%></option>
          <% } %>
        </select>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
