<div class="dots_bg"></div>
  <div class='cookie_policy_container'>
  <p class="cookie_policy_title">Cookie Policy on EventSnitch.com</p>
  <p class="cookie_policy_sub_title">
    What Are Cookies?
  </p>
  <p class="cookie_policy_message">
   Cookies are small pieces of text sent by your web browser by a website you visit. A cookie file is stored in your web browser and allows the Service or a third party to recognize you and make your next visit easier and the Service more useful to you. Cookies can be "persistent" or "session" cookies.
  </p>
  <p class="cookie_policy_sub_title">
    How We Use Them
  </p>
  <p class="cookie_policy_message">
    When you use and access the Service, we may place a number of cookies files in your web browser. 
    <br>We use cookies for the following purposes: to enable certain functions of our service, to provide analytics, to store your preferences, to enable advertisements delivery, including behavioral advertising. We use both session and persistent cookies on the Service and we use different types of cookies to run the Service.
    <br>We may use essential cookies to authenticate users and prevent fraudulent use of user accounts.
  </p>
  <p class="cookie_policy_sub_title">
    Third-party Cookies
  </p>
  <p class="cookie_policy_message">
    In addition to our own cookies, we may also use various third­parties cookies to report usage statistics of the Service, deliver advertisements on and through the Service, and so on.
  </p>
  <p class="cookie_policy_sub_title">
    How Do I Turn Cookies Off?
  </p>
  <p class="cookie_policy_message">
   Cookies can usually be turned off from the browser settings. Before you start surfing, you must set the cookie preferences according to the browser you are user. More information and instructions can be found <a href="http://www.allaboutcookies.org/manage-cookies/stop-cookies-installed.html" >here</a>.
  </p>
  <p class="cookie_policy_sub_title">
    Useful Links
  </p>
  <p class="cookie_policy_message">
   You can learn more about cookies and the following third­party website:
    <br>
    - <a href="http://www.networkadvertising.org/">Network Advertising Initiative</a>
    <br>
    - <a href="http://www.allaboutcookies.org/">All About Cookies</a> 
  </p>
</div>
