<div class="dots_bg"></div>
<div class='body_content'>
  <div class="search_container">
    <i class="glyphicon glyphicon-search only_large_display search_input_legend"></i>
    <input id="search-input" class="search_input" type="text" placeholder="Look up an event ..." class="form-control input-md" />
    <span class="search_btn_container">
      <button class="btn btn_search" type="button">
        <span>
          <i class="glyphicon glyphicon-search only_mobile_display"></i>
          <span class="search_btn_text_search only_large_display">Search</span>
        </span>
      </button>
    </span>
  </div>

  <div class="homepage_img_container">
    <div class="dots_bg"></div>
    <h3 class="secondary_title">
      <%= categoryName %>
      <br>
      events
    </h3>
  </div>
</div>