<div class="dots_bg"></div>
<div class='body_content'>
  <div class="search_container">
    <i class="glyphicon glyphicon-search only_large_display search_input_legend"></i>
    <input id="search-input" class="search_input" type="text" placeholder="Look up an event ..." class="form-control input-md" />
    <span class="search_btn_container">
      <button class="btn btn_search" type="button">
        <span>
          <i class="glyphicon glyphicon-search only_mobile_display"></i>
          <span class="search_btn_text_search only_large_display">Search</span>
        </span>
      </button>
    </span>
  </div>

  <div class="homepage_img_container">
    <div class="dots_bg"></div>
    <h3 class="secondary_title">
      <%= categoryName %>
      <br>
      events
    </h3>
  </div>
    
  <div class="col-xs-0 col-sm-2 no_bootstrap_padding"></div>
  <div class="col-xs-12 col-sm-8 no_bootstrap_padding">
    <h3 class="list_header_h3 only_large_display_block"><%= categoryName %><span class="list_header_h3_span">events</span></h3>
    <div class="list_controller">
      <input id="search-input-filter" class="search_input_blue_bg" type="text" placeholder="Filter by name ...">
      <div id="btn_sort_by" class="list_controller_group">
        <span class="list_controller_span">Sort by</span>
        <span id="category_sort_by_arrow" class="gray_down_arrow_5px"></span>
      </div>
    </div>
    <div id="list_controller_dropdown" class="list_controller">
      <div class="list_controller_dropdown_item">
        <span class="list_controller_span">Hybrid</span>
      </div>
      <div class="list_controller_dropdown_item">
        <span class="list_controller_span">Most popular</span>
      </div>
      <div class="list_controller_dropdown_item">
        <span class="list_controller_span">Chronological</span>
      </div>
    </div>
  </div>
  <div class="col-xs-0 col-sm-2 no_bootstrap_padding"></div>
  <div class="clear"></div>
    
    
    
  <!-- Dummy HTML - AICI TREBUIE SA FIE 10 (zic ca e un numar decent, spui si tu ce parere ai) de rezultate -->
  <div class="col-xs-0 col-sm-2 no_bootstrap_padding"></div>
  <div class="col-xs-12 col-sm-8 no_bootstrap_padding">
    <ul class="homepage_event_category_ul category_event_ul">
      <% var eventsInCategoryCounter = 0;
         var numberOfPages = 0;
         var responseObject = JSON.parse(response);
         for (var key in responseObject.results) { %>

          <li class="homepage_event_category_li category_event_li" id="<%=responseObject.results[key].id + '_' + responseObject.results[key].name%>">
            <div class="li_background_pic" style="background: url(../Content/img/homepage_bg.jpg);"></div>
            <div class="black_overlay position_absolute"></div>

            <div class="homepage_event_category_li_date category_event_li_date">
              <%= (responseObject.results[key].isGlobal && parseInt(responseObject.results[key].isGlobal)) ? moment(responseObject.results[key].eventDate).format("D") : moment(new Date(moment.utc(responseObject.results[key].eventDate))).format("D") %>
              <div class="homepage_event_category_li_date_month category_event_li_date_month">
                <%= (responseObject.results[key].isGlobal && parseInt(responseObject.results[key].isGlobal)) ? moment(responseObject.results[key].eventDate).format("MMM") : moment(new Date(moment.utc(responseObject.results[key].eventDate))).format("MMM") %>
              </div>
            </div>


            <div class="homepage_event_category_li_text category_event_li_text ellipsis">
              <%= responseObject.results[key].name %>
              <div class="homepage_event_category_li_text_location category_event_li_text"><% if(responseObject.results[key].cityName) { %><%=responseObject.results[key].cityName%><% } %><% if(responseObject.results[key].cityName !== responseObject.results[key].regionName) { %>,
                    <%=responseObject.results[key].regionName%><% } %><% if(responseObject.results[key].countryName !== 'Worldwide' && responseObject.results[key].countryName !== 'worldwide' && responseObject.results[key].countryName !== undefined) { %>,
                    <%=responseObject.results[key].countryName%><% } %>&nbsp;
              </div>
            </div>
          </li>
      
      <% eventsInCategoryCounter += 1;
         } %>

      <li class="list_footer light_blue_bg text_align_center">
        <a href="" class="list_footer_item">1 | 2 | <span class="list_footer_item_selected">3</span> | 4 | 5 | 6 | 7</a>
      </li>
    </ul>
  </div>
  <div class="col-xs-0 col-sm-2 no_bootstrap_padding"></div>
    
</div>