    <ul class="homepage_event_category_ul category_event_ul">
      <% var eventsInCategoryCounter = 0;
         var responseObject = JSON.parse(response);
         for (var key in responseObject.results) { %>

          <li class="homepage_event_category_li category_event_li" id="<%=responseObject.results[key].id + '_' + responseObject.results[key].name%>">
            <div class="li_background_pic" style="background: url(../Content/img/<%=responseObject.results[key].background%>.jpg);"></div>
            <div class="black_overlay position_absolute"></div>

            <div class="homepage_event_category_li_date category_event_li_date">
              <%= (responseObject.results[key].isGlobal && parseInt(responseObject.results[key].isGlobal)) ? moment(responseObject.results[key].eventDate).format("D") : moment(new Date(moment.utc(responseObject.results[key].eventDate))).format("D") %>
              <div class="homepage_event_category_li_date_month category_event_li_date_month">
                <%= (responseObject.results[key].isGlobal && parseInt(responseObject.results[key].isGlobal)) ? moment(responseObject.results[key].eventDate).format("MMM") : moment(new Date(moment.utc(responseObject.results[key].eventDate))).format("MMM") %>
              </div>
            </div>


            <div class="homepage_event_category_li_text category_event_li_text ellipsis">
              <%= responseObject.results[key].name %>
              <div class="homepage_event_category_li_text_location category_event_li_text"><% if(responseObject.results[key].cityName) { %><%=responseObject.results[key].cityName%><% } %><% if(responseObject.results[key].cityName !== responseObject.results[key].regionName) { %>,
                    <%=responseObject.results[key].regionName%><% } %><% if(responseObject.results[key].countryName !== 'Worldwide' && responseObject.results[key].countryName !== 'worldwide' && responseObject.results[key].countryName !== undefined) { %>,
                    <%=responseObject.results[key].countryName%><% } %>&nbsp;
              </div>
            </div>
          </li>
      
      <% eventsInCategoryCounter += 1;
         } %>
          
      <% if (responseObject.totalResults > 10) { %>
        <li class="list_footer text_align_center">
          <div class="col-xs-3 col-sm-2 list_footer_dropdown_div light_blue_bg">
            <select class="list_footer_item_select">
              <% for (var i = 0; i < Math.ceil(responseObject.totalResults/10); i++) { %>
                <option class="list_footer_item_select_option" <% if (i == selectedPage) { %>selected="selected"<% } %> data-page-number="<%=i%>">Page <%=i + 1%></option>
              <% } %>
            </select>
          </div>
          <div class="col-xs-9 col-sm-10 light_blue_bg list_footer_item_container">
              <div class="col-xs-2 col-sm-1">
                <% if (selectedPage !== 0) { %>
                  <a class="list_footer_double_arrows list_footer_left_arrow" data-page-number="<%=0%>"><span><i class="fa fa-angle-double-left fa-2x list_footer_double_arrows"></i></span></a>
                <% } %>
              </div>
              <div class="col-xs-8 col-sm-10 no_padding">
                <span class="list_footer_item_container">
                  <% var numberOfPages = window.innerWidth < 768 ? 3 : 8;%>
                  <% if (Math.ceil(responseObject.totalResults/10) < numberOfPages) { %>
                      <% for (var i = 0; i < Math.ceil(responseObject.totalResults/10); i++) { %>
                        <a class="list_footer_item" data-page-number="<%=i%>"><%= i+1 %></a><span class="list_footer_separator"><% if (i!==Math.ceil(responseObject.totalResults/10)-1) { %>|<% } %></span>
                      <% } %>
                  <% } else if (selectedPage < 4 && numberOfPages === 8) { %>
                    <% for(var i = 0; i < numberOfPages; i++) { %>
                      <a class="list_footer_item" data-page-number="<%=i%>"><%= i+1 %></a><span class="list_footer_separator"><% if(i!==7) { %>|<% } %></span>
                    <% } %>
                  <% } else if (numberOfPages === 8 && selectedPage > Math.ceil(responseObject.totalResults/10) - 4) { %>
                    <% for(var i = Math.ceil(responseObject.totalResults/10)-8; i < Math.ceil(responseObject.totalResults/10); i++) { %>
                      <a class="list_footer_item" data-page-number="<%=i%>"><%= i+1 %></a><span class="list_footer_separator"><% if(i!==Math.ceil(responseObject.totalResults/10)-1) { %>|<% }%></span>
                    <% } %>
                  <% } else if (selectedPage < 2 && numberOfPages === 3) { %>
                    <% for(var i = 0; i < numberOfPages; i++) { %>
                      <a class="list_footer_item" data-page-number="<%=i%>"><%= i+1 %></a><span class="list_footer_separator"><% if(i!==2) { %>|<% } %></span>
                    <% } %>
                  <% } else if (numberOfPages === 3 && selectedPage > Math.ceil(responseObject.totalResults/10) - 2) { %>
                    <% for(var i = Math.ceil(responseObject.totalResults/10)-3; i < Math.ceil(responseObject.totalResults/10); i++) { %>
                      <a class="list_footer_item" data-page-number="<%=i%>"><%= i+1 %></a><span class="list_footer_separator"><% if(i!==Math.ceil(responseObject.totalResults/10)-1) { %>|<% }%></span>
                    <% } %>
                  <% } else { %>
                    <%console.log('d')%>
                    <% for (var i = selectedPage-Math.floor(numberOfPages/2); i < selectedPage+Math.ceil(numberOfPages/2); i++) { %>
                      <a class="list_footer_item" data-page-number="<%=i%>"><%= i+1 %></a><span class="list_footer_separator"><% if(i!==selectedPage+Math.ceil(numberOfPages/2)-1) { %>|<% } %></span>
                    <% } %>
                  <% } %>
                </span>   
              </div>
              <div class="col-xs-2 col-sm-1">
                <% if (selectedPage !== Math.ceil(responseObject.totalResults/10) - 1) { %>
                  <a class="list_footer_double_arrows list_footer_right_arrow" data-page-number="<%=Math.ceil(responseObject.totalResults/10)-1%>"><span><i class="fa fa-angle-double-right fa-2x list_footer_double_arrows"></i></span></a>
                <% } %>
              </div>
          </div> 
        </li>
      <% } %>
    </ul>