    <ul class="homepage_event_category_ul category_event_ul">
      <% var eventsInCategoryCounter = 0;
         var numberOfPages = 0;
         var responseObject = JSON.parse(response);
         for (var key in responseObject.results) { %>

          <li class="homepage_event_category_li category_event_li" id="<%=responseObject.results[key].id + '_' + responseObject.results[key].name%>">
            <div class="li_background_pic" style="background: url(../Content/img/<%=responseObject.results[key].background%>.jpg);"></div>
            <div class="black_overlay position_absolute"></div>

            <div class="homepage_event_category_li_date category_event_li_date">
              <%= (responseObject.results[key].isGlobal && parseInt(responseObject.results[key].isGlobal)) ? moment(responseObject.results[key].eventDate).format("D") : moment(new Date(moment.utc(responseObject.results[key].eventDate))).format("D") %>
              <div class="homepage_event_category_li_date_month category_event_li_date_month">
                <%= (responseObject.results[key].isGlobal && parseInt(responseObject.results[key].isGlobal)) ? moment(responseObject.results[key].eventDate).format("MMM") : moment(new Date(moment.utc(responseObject.results[key].eventDate))).format("MMM") %>
              </div>
            </div>


            <div class="homepage_event_category_li_text category_event_li_text ellipsis">
              <%= responseObject.results[key].name %>
              <div class="homepage_event_category_li_text_location category_event_li_text"><% if(responseObject.results[key].cityName) { %><%=responseObject.results[key].cityName%><% } %><% if(responseObject.results[key].cityName !== responseObject.results[key].regionName) { %>,
                    <%=responseObject.results[key].regionName%><% } %><% if(responseObject.results[key].countryName !== 'Worldwide' && responseObject.results[key].countryName !== 'worldwide' && responseObject.results[key].countryName !== undefined) { %>,
                    <%=responseObject.results[key].countryName%><% } %>&nbsp;
              </div>
            </div>
          </li>
      
      <% eventsInCategoryCounter += 1;
         } %>

      <li class="list_footer light_blue_bg text_align_center">
        <a href="" class="list_footer_item">1 | 2 | <span class="list_footer_item_selected">3</span> | 4 | 5 | 6 | 7</a>
      </li>
    </ul>