<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Message from {EMAIL}</title>
</head>

<body bgcolor="#fff">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td valign="top">
        <table>
          <tr>
            <td>
              <b>Email: </b><p>{EMAIL}</p>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <b>Name: </b><p>{NAME}</p>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <b>Message: </b><p>{MESSAGE}</p>
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <b>Phone: </b><p>{PHONE}</p>
            </td>
          </tr>
        </table>
        <br>
        <table>
          <tr>
            <td>
              <b>Ip: </b><p>{IP}</p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>