<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>New Event Snitch Password</title>
</head>

<body bgcolor="#fff">
  <center>
    <table width="605px" cellpadding="0" cellspacing="0">

      <tr>
        <td width="605px" height="0" valign="top">
          <center>
            <table width="605px">
              <tr>
                <td width="555px" style="float: left;">
                  <p style="margin-top: 15px"><font face="Verdana, Geneva, sans-serif" size="5" color="#666666">Hello {USERNAME}!</font></p>
                </td>
                <td width="auto" height="100px">
                  <img width="auto" height="50px" src="{LOGOPATH}">
                </td>
              </tr>
            </table>
            <table width="605px">
              <tr>
                <td>
                  <p><font face="Verdana, Geneva, sans-serif" size="3" color="#666666">The new password for the Event Snitch account is {PASSWORD}</font></p>
                </td>
              </tr>
              <tr>
                <td width="605px" height="0" valign="center" style="padding: 0; margin: 0;">
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
      <tr>
        <td width="605px" valign="bottom" style="padding: 0; margin: 0;">
        </td>
      </tr>
      <tr>
        <td width="605px" height="30px" valign="bottom" style="padding: 0; margin: 0;">

          <center>
            <table width="605px" align="center" cellpadding="0" cellspacing="0" style="vertical-align: top;">
              <tr>
                <td height="15px"></td>
              </tr>
              <tr>
                <td>
                  <p><font face="Verdana, Geneva, sans-serif" color="#999999" size="-2">You received this e-mail because you signed up on Event Snitch. If you think you should not have received this e-mail, please <a href="" style="color: #03110A;"><font color="#03110A">contact office@eventsnitch.com</font></a>
                    </font>
                  </p>
                </td>
              </tr>
            </table>
          </center>


        </td>
      </tr>

    </table>
  </center>
</body>

</html>