<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Welcome to Event Snitch</title>
</head>

<body bgcolor="#fff">
  <center>
    <table width="605px" cellpadding="0" cellspacing="0">

      <tr>
        <td width="605px" height="245px" valign="top">
          <center>
            <table width="605px">
              <tr>
                <td width="555px" style="float: left;">
                  <p style="margin-top: 15px"><font face="Verdana, Geneva, sans-serif" size="5" color="#666666">Welcome {USERNAME}!</font></p>
                </td>
                <td width="auto" height="50px">
                  <img width="auto" height="50px" src="{LOGOPATH}">
                </td>
              </tr>
            </table>
            <table width="605px">
              <tr>
                <td>
                  <p><font face="Verdana, Geneva, sans-serif" size="3" color="#666666">Thank you for creating an account. Please confirm your account by clicking the link below!</font></p>
                </td>
              </tr>
              <tr>
                <td width="605px" height="119px" valign="center" style="padding: 0; margin: 0;">
                  <p><a href="{SITEPATH}/#confirmSignUp?email={EMAIL}&key={KEY}" style="color: #03110A;"><font size="5" face="Verdana, Geneva, sans-serif" color="#03110A">Activate your account.</font></a></p>
                </td>
              </tr>
            </table>
          </center>
        </td>
      </tr>
      <tr>
        <td width="605px" valign="bottom" style="padding: 0; margin: 0;">
          <p><font face="Verdana, Geneva, sans-serif" size="-1" color="#666666">If the above link is not working, please copy and paste this address: </font><br><br> {SITEPATH}/#confirmSignUp?email={EMAIL}&key={KEY}<br><br><font face="Verdana, Geneva, sans-serif" size="-1" color="#666666"> into your browser's address bar.</font></p>
        </td>
      </tr>
      <tr>
        <td width="605px" height="30px" valign="bottom" style="padding: 0; margin: 0;">

          <center>
            <table width="605px" align="center" cellpadding="0" cellspacing="0" style="vertical-align: top;">
              <tr>
                <td height="15px"></td>
              </tr>
              <tr>
                <td>
                  <p><font face="Verdana, Geneva, sans-serif" color="#999999" size="-2">You received this e-mail because you signed up on Event Snitch. If you think you should not have received this e-mail, please <a href="" style="color: #03110A;"><font color="#03110A">contact office@eventsnitch.com</font></a>
                    </font>
                  </p>
                </td>
              </tr>
<!--

              <tr>
                <td width="200px" style="float:right;" height="30px" valign="bottom" background="../img/mobile_menu_icon.png"></td>
              </tr>
-->
            </table>
          </center>


        </td>
      </tr>

    </table>
  </center>
</body>

</html>
