<div class="dots_bg"></div>
<div id="contactDotsBg" class="body_content">
  <div class="contact_content">
    <div class="contact_details_container">
      <h2 class="contact_title">
        Let's get in touch
      </h2>
      <h4 class="contact_subtitle">
        Subtitle dummy
      </h4>
    </div>
    <div class="contact_form__container">
      <form class="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" id="contactForm">
        <div class="contact_form__group">
          <label for="nameContact" class="contact_form__label">Your name*</label>
          <input id="nameContact" name="nameContact" class="contact_form__input" type="text" autocomplete="off" maxlength="24">
          <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
        </div>
        <div class="contact_form__group">
          <label for="emailContact" class="contact_form__label">Email*</label>
          <input id="emailContact" name="emailContact" class="contact_form__input" autocomplete="off" maxlength="255">
          <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
        </div>
        <div class="contact_form__group">
          <label for="phoneContact" class="contact_form__label">Phone number</label>
          <input id="phoneContact" name="phoneContact" class="contact_form__input" type="text" autocomplete="off" maxlength="20">
          <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
        </div>
        <div class="contact_form__group">
          <label for="messageContact" class="contact_form__label">Your Message*</label>
          <textarea form="contactForm" id="messageContact" name="messageContact" class="contact_form__input contact_form__textarea" rows="3" maxlength="255"></textarea>
          <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
        </div>
<!--
        <div class="contact_form__form_group">
          <div id="g-recaptcha-create" class="g-recaptcha"></div>
        </div>
-->
        <div class="contact_form__group">
          <div id="contactFormAlertDiv" class="form_bad_request_div display_none">
            <span class="form_bad_request_glyphicon glyphicon glyphicon-alert" aria-hidden="true"></span>
            <label for="submitButtonContactForm" id="submitButtonContactFormLabel" class="contact_form__bad_request"></label>
          </div>
          <input id="submitButtonContactForm" class="contact_form__button" name="submitButtonContactForm" type="submit">
        </div>
      </form>
    </div>
  </div>
</div>