<div class="chat_box col-md-3">
  <div class="panel panel-primary">
    <div class="panel-heading" id="accordion">
      <span class="glyphicon glyphicon-comment"></span><span class="chat_header_span">Chat live</span>
      <div class="btn-group pull-right">
        <a type="button" class="btn btn-default btn-xs chat_toggle_link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          <span class="glyphicon glyphicon-chevron-down chat_toggle_arrow"></span>
        </a>
      </div>
    </div>
    <div class="panel-collapse collapse" id="collapseOne">
      <div class="panel-body" id="conversation">
        <ul id="chat_messages" class="chat">

        </ul>
      </div>
      <div class="panel-footer">
        <div class="input-group">
          <input id="data" class="form-control input-sm" placeholder="Type your message here..." />
          <span class="input-group-btn">
              <input type="button" id="datasend" value="Send" class="btn btn-warning btn-sm" id="btn-chat" />
          </span>
        </div>
      </div>
    </div>
  </div>
</div>