<div class="dots_bg dots_bg_header"></div>
<div id="header" class="header">
  <div class="header_btn"></div>
  <h1 class="header_title"><a href="" class="header_title">eventsnitch<span class="header_title_span">.com</span></a></h1>
  <a href=""><img class="header_logo" src="../../Content/img/eventsnitch_logo_white.png" /></a>
  
  <nav class="navbar">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="navbar_li" id="signUpButton">
          <a>
            <span class="blue_border_hover">SIGN&nbsp;IN</span>
          </a>
        </li>
        <li class="navbar_li" id="allTheTimersButton">
          <a>
            <span class="blue_border_hover">ALL&nbsp;THE&nbsp;TIMERS</span>
          </a>
        </li>
        <li class="navbar_li">
          <a href="">
            <span class="blue_border_hover">CREATE&nbsp;&&nbsp;SHARE&nbsp;YOURS</span>
          </a>
        </li>
        <li class="navbar_li" id="randomEventButton">
          <a>
            <span id="navbar_last_btn" class="blue_border_hover">RANDOM&nbsp;EVENT</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>


<div id="sign_up_modal" class="modal fade sign_up_container">
  <div class="sign_up_wrap">
      <div class="sign_up_form">
          <input id="sign_in_tab" type="radio" name="tab" class="sign_in_radio" checked><label for="sign_in_tab" class="sign_up_form_tab no_select">Sign In</label>
          <input id="sign_up_tab" type="radio" name="tab" class="sign_up_radio"><label for="sign_up_tab" class="sign_up_form_tab no_select">Sign Up</label>
          <div class="sign_in_form_container_parent">
              <div class="sign_in_form_container">
                  <div class="sign_up_form_group">
                      <label for="user" class="sign_up_form_label">Username</label>
                      <input id="user" type="text" class="sign_up_form_input">
                  </div>
                  <div class="sign_up_form_group">
                      <label for="pass" class="sign_up_form_label">Password</label>
                      <input id="pass" type="password" class="sign_up_form_input" data-type="password">
                  </div>
                  <div class="sign_up_form_group">
                      <input id="check" type="checkbox" class="sign_up_form_check" checked>
                      <label for="check"><span class="sign_up_form_icon"></span> Keep me Signed in</label>
                  </div>
                  <div class="sign_up_form_group">
                      <input type="submit" class="sign_up_form_button" value="Sign In">
                  </div>
                  <div class="sign_up_form_footer_hr"></div>
                  <div class="sign_up_form_footer_link">
                      <input id="reset_password_tab" type="radio" name="tab" class="reset_password_radio"><label for="reset_password_tab" class="sign_up_form_tab reset_password_form_tab no_select">Forgot password?</label>
                  </div>
              </div>
              <div class="sign_up_form_container">
                  <div class="sign_up_form_group">
                      <label for="pass" class="sign_up_form_label">Email Address</label>
                      <input id="pass" type="email" class="sign_up_form_input">
                  </div>
                  <div class="sign_up_form_group">
                      <label for="user" class="sign_up_form_label">Username</label>
                      <input id="user" type="text" class="sign_up_form_input">
                  </div>
                  <div class="sign_up_form_group">
                      <label for="pass" class="sign_up_form_label">Password</label>
                      <input id="pass" type="password" class="sign_up_form_input" data-type="password">
                  </div>
                  <div class="sign_up_form_group">
                      <label for="pass" class="sign_up_form_label">Repeat Password</label>
                      <input id="pass" type="password" class="sign_up_form_input" data-type="password">
                  </div>
                  <div class="sign_up_form_group">
                    <label for="pass" class="label">Birth date</label>
                    <input type="text" class="form-control" name="date"  id="datePicker"/>
                  </div>
                  <div class="sign_up_form_group">
                    <label for="pass" class="label">Country</label>
                    <input id="pass" type="password" class="input" data-type="password">
                  </div>
                  <div class="sign_up_form_group">
                      <input type="submit" class="sign_up_form_button" value="Sign Up">
                  </div>
                  <div class="sign_up_form_footer_hr"></div>
                  <div class="sign_up_form_footer_link no_select">
                      <label for="sign_in_tab">Already Member?</a>
                  </div>
              </div>
              <div class="reset_password_form_container">
                  <div class="sign_up_form_group">
                      <label for="user" class="sign_up_form_label">Email</label>
                      <input id="user" type="text" class="sign_up_form_input">
                  </div>
                  <div class="sign_up_form_group">
                      <input type="submit" class="sign_up_form_button" value="Reset Password">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>