<div class="dots_bg dots_bg_header"></div>
<div id="header" class="header">
  <div class="header_btn"></div>
  <h1 class="header_title"><a class="header_main_page_link header_title">eventsnitch<span class="header_title_span">.com</span></a></h1>
  <a class="header_main_page_link"><img class="header_logo" src="../../Content/img/eventsnitch_logo_white.png" /></a>

  <nav class="navbar">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="navbar_li" id="allTheTimersButton">
          <a>
            <span class="blue_border_hover">ALL&nbsp;THE&nbsp;TIMERS</span>
          </a>
        </li>
        <%if(loggedIn){%>
          <li class="navbar_li" id="createEventButtton">
            <a>
              <span class="blue_border_hover">CREATE&nbsp;EVENT</span>
            </a>
          </li>
        <%}%>
        <li class="navbar_li" id="randomEventButton">
          <a>
            <span class="blue_border_hover">RANDOM&nbsp;EVENT</span>
          </a>
        </li>
        <%if(!loggedIn){%>
          <li class="navbar_li" id="signUpButton">
            <a>
              <span id="navbar_last_btn" class="blue_border_hover">SIGN&nbsp;IN</span>
            </a>
          </li>
        <%} else { %>
          <li class="navbar_li" id="signOutButton">
            <a>
              <span id="navbar_last_btn" class="blue_border_hover">SIGN&nbsp;OUT</span>
            </a>
          </li>
        <%}%>
      </ul>
    </div>
  </nav>
</div>
          
<div id="changePasswordModal" class="modal fade">
  <div class="common_modal__wrap">
    <button type="button" class="close common_modal__close_btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="common_modal__content_container overflowAuto">
      <div class="common_modal__body">
        <div class="change_password_form_container">
          <form class="form-horizontal" id="changePasswordForm">
            <div class="common_modal_form_group">
              <label for="changePassEmail" class="sign_up_form_label">Email</label>
              <input id="changePassEmail" name="email_sign_in" class="sign_up_form_input">
            </div>
            <div class="common_modal_form_group">
              <label for="oldChangePassEmail" class="sign_up_form_label">Old Password</label>
              <input id="oldChangePassEmail" name="oldChangePassEmail" type="password" class="sign_up_form_input" data-type="password">
            </div>
            <div class="common_modal_form_group">
              <label for="newChangePassEmail" class="sign_up_form_label">New Password</label>
              <input id="newChangePassEmail" name="newChangePassEmail" type="password" class="sign_up_form_input" data-type="password">
            </div>
            <div class="common_modal_form_group">
              <label for="confirmNewChangePassEmail" class="sign_up_form_label">Confirm New Password</label>
              <input id="confirmNewChangePassEmail" name="confirmNewChangePassEmail" type="password" class="sign_up_form_input" data-type="password">
            </div>
            <div class="common_modal_form_group">
              <label id="submitButtonChangePasswordLabel" class="change_password_unauthorized" for="submitButtonChangePassword"></label>
              <input id="submitButtonChangePassword" name="submitButtonChangePassword" type="submit" class="sign_up_form_button" value="change password">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
          
<div id="signUpModal" class="modal fade sign_up_container">
  <div class="sign_up_wrap">
    <button type="button" class="close common_modal__close_btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="sign_up_form overflowHidden">
      <input id="sign_in_tab" type="radio" name="tab" class="sign_in_radio" checked>
      <label for="sign_in_tab" class="sign_up_form_tab no_select">SIGN IN</label>
      <input id="sign_up_tab" type="radio" name="tab" class="sign_up_radio">
      <label for="sign_up_tab" class="sign_up_form_tab no_select">SIGN UP</label>
      <div class="sign_in_form_container_parent">
        <div class="sign_in_form_container">
          <form class="form-horizontal" id="sign_in_form">
            <div class="sign_up_form_group">
              <label for="email_sign_in" class="sign_up_form_label">Email</label>
              <input id="email_sign_in" name="email_sign_in" class="sign_up_form_input">
            </div>
            <div class="sign_up_form_group">
              <label for="pass_sign_in" class="sign_up_form_label">Password</label>
              <input id="pass_sign_in" name="pass_sign_in" type="password" class="sign_up_form_input" data-type="password" data-error="sign_up_form_err">
            </div>
            <div class="sign_up_form_group">
              <input id="check_remember" type="checkbox" class="sign_up_form_check" checked>
              <label for="check_remember"><span class="sign_up_form_icon"></span> Keep me Signed in</label>
            </div>
            <div class="sign_up_form_group">
              <label id="submitButtonSignInLabel" class="change_password_unauthorized" for="submitButtonSignIn"></label>
              <input id="submitButtonSignIn" name="submitButtonSignIn" type="submit" class="sign_up_form_button" value="sign in">
            </div>
          </form>
          <div class="sign_up_form_footer_hr"></div>
          <div class="sign_up_form_footer_link">
            <input id="reset_password_tab" type="radio" name="tab" class="change_password_radio">
            <label for="reset_password_tab" class="sign_up_form_tab reset_password_form_tab no_select">Forgot password?</label>
          </div>
        </div>
        <div class="sign_up_form_container">
          <form class="form-horizontal" id="signUpForm">
            <div class="sign_up_form_group">
              <label for="emailSignUp" class="sign_up_form_label">Email</label>
              <input id="emailSignUp" name="email_sign_in" class="sign_up_form_input">
            </div>
            <div class="sign_up_form_group">
              <label for="userSignUp" class="sign_up_form_label">Username</label>
              <input id="userSignUp" name="userSignUp" type="text" class="sign_up_form_input">
            </div>
            <div class="sign_up_form_group">
              <label for="passSignUp" class="sign_up_form_label">Password</label>
              <input id="passSignUp" name="passSignUp" type="password" class="sign_up_form_input" data-type="password">
            </div>
            <div class="sign_up_form_group">
              <label for="passConfirmSignUp" class="sign_up_form_label">Repeat Password</label>
              <input id="passConfirmSignUp" name="passConfirmSignUp" type="password" class="sign_up_form_input" data-type="password">
            </div>
            <div class="sign_up_form_group">
              <label for="country_dropdown" class="sign_up_form_label">Country</label>
              <div class="dropup focus-active" id="country_code_dropdown">
                <a class="sign_up_form_input dropdown-toggle ellipsis" data-toggle="dropdown" id="country_dropdown">Select a Country <span class="caret country_dropdown_caret"></span></a>
                <ul class="dropdown-menu scrollable-menu country_dropdown_menu" role="menu" aria-labelledby="country_dropdown">
                  <% for(var i=0; i<response.length; i++) {%>
                    <li><a href="#" code="<%=response[i].code%>" class="ellipsis"><%=response[i].name%></a></li>
                    <%}%>
                </ul>
              </div>
                <input name="sign_up_country_selected" id="sign_up_country_selected" aria-required="true" aria-invalid="false" class="sign_up_form_input display_none">
            </div>
            <div class="sign_up_form_group" id="date_picker_div">
              <label for="datePickerSignUp" class="sign_up_form_label" id="date_picker_label">Birth date</label>
              <input class="sign_up_form_input" name="datePickerSignUp" id="datePickerSignUp"/>
            </div>
            <div class="sign_up_form_group">
              <label id="submitButtonSignUpLabel" class="change_password_unauthorized" for="submitButtonSignUp"></label>
              <input id="submitButtonSignUp" name="submitButtonSignUp" type="submit" class="sign_up_form_button" value="sign up">
            </div>
          </form>
          <div class="sign_up_form_footer_hr"></div>
          <div class="sign_up_form_footer_link no_select">
            <label for="sign_in_tab">Already Member?</a>
          </div>
        </div>
        <div class="reset_password_form_container">
          <form class="form-horizontal" id="resetPasswordForm">
            <div class="sign_up_form_group">
              <label id="reset_pass_email_label" for="resetPassEmail" class="sign_up_form_label">Email</label>
              <input id="resetPassEmail" name="email_sign_in" class="sign_up_form_input">
            </div>
            <div class="sign_up_form_group">
              <input type="submit" id="submitButtonResetPassword" class="sign_up_form_button" value="reset password">
            </div>
          </form>
        </div>
        <div id="signUpModalResponse" class="sign_up_modal_response_container">
          <form class="form-horizontal" id="signUpModalResponseForm">
            <div class="sign_up_form_group">
              <label id="signUpModalResponseLabel" class="sign_up_modal_responses_style"></label>
            </div>
            <div class="sign_up_form_group">
              <input id="closeSignUpModalResponseButton" type="button" class="sign_up_form_button close_sign_up_modal_button" value="close">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="createEventModal">
  <div class="modal-dialog common_modal__wrap" role="document">
    <button type="button" class="close common_modal__close_btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="modal-content common_modal__content_container">
      <div class="modal-header common_modal__header">
        <h4 class="modal-title common_modal__title">Create an event</h4>
      </div>
      <div class="modal-body common_modal__body">
        <form class="common_modal__form" id="createEventForm">
          <div class="common_modal__thumbnails_container">
            <ul>
              <li class="common_modal__image_thumbnails">dummy</li>
              <% for(var i = 1; i <= 7; i++) { %>
                <li class="common_modal__image_thumbnails">
                  <img src="Content/img/<%=i%>.jpg">
                </li>
              <% } %>
            </ul>
          </div>
          <div class="common_modal__form_group">
            <label for="createEventName" class="common_modal__label">Event Name</label>
            <input id="createEventName" name="createEventName" class="common_modal__input">
          </div>
          <div class="common_modal__form_group">
            <label for="createEventLocation" class="common_modal__label">Location</label>
            <input id="createEventLocation" name="createEventLocation" class="common_modal__input">
          </div>
          <div class="common_modal__form_group">
            <label for="createEventForm" class="common_modal__label">Description</label>
            <textarea form="createEventForm" id="createEventDescription" class="common_modal__textarea" rows="3"></textarea>
          </div>
          <div class="common_modal__form_group">
            <label id="submitButtonCreateEventLabel" class="common_modal__button_label" for="submitButtonCreateEvent"></label>
            <input id="submitButtonCreateEvent" class="common_modal__button" name="submitButtonSignIn" type="submit" value="create event">
          </div>            
        </form>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->