<div class="dots_bg dots_bg_header"></div>
<div id="header" class="header">
  <div class="header_btn"></div>
  <h1 class="header_title"><a class="header_main_page_link header_title">eventsnitch<span class="header_title_span">.com</span></a></h1>
  <span class="header_user_management">
    <a class="header_main_page_link"><img class="header_logo pull-right" src="../../Content/img/eventsnitch_logo_white_sm.gif" /></a>
    <%if(loggedIn){%>
      <a class="header_logged_user"><%= loggedUser %></a>
    <%} else {%>
      <a class="header_logged_user">sign in</a>
    <%}%>
  </span>
  <ul class="header_user_management_dropdown dropdown-menu dropdown-menu-right">
    <li id="goToMyEvents" class="header_user_management_dropdown_li light_blue_bg text_align_center">
      <a class="header_user_management_dropdown_li_button"><span class="side_menu_glyphicon pull-left glyphicon glyphicon-th"></span>Go to my events</a>
    </li>
    <li id="changePasswordButton" class="header_user_management_dropdown_li light_blue_bg text_align_center">
      <a class="header_user_management_dropdown_li_button"><span class="side_menu_glyphicon pull-left glyphicon glyphicon-edit"></span>Change password</a>
    </li>
    <li id="signOutButton" class="header_user_management_dropdown_li error_red_bg text_align_center">
      <a class="header_user_management_dropdown_li_button">Sign out</a>
    </li>
  </ul>
  <nav class="navbar">
    <div class="navbar-header">
      <ul class="nav navbar-nav">
        <li class="navbar_li" id="allTheTimersButton">
          <a>
            <span class="blue_border_hover no_select">ALL&nbsp;THE&nbsp;TIMERS</span>
          </a>
        </li>
        <li class="navbar_li" id="randomEventButton">
          <a>
            <span class="blue_border_hover no_select">RANDOM&nbsp;EVENT</span>
          </a>
        </li>
        <%if(loggedIn){%>
          <li class="navbar_li" id="createEventButton">
            <a>
              <span id="navbar_last_btn" class="blue_border_hover no_select">CREATE&nbsp;EVENT</span>
            </a>
          </li>
        <%}%>
      </ul>
    </div>
  </nav>
</div>

<div id="changePasswordModal" class="modal fade">
  <div class="common_modal__wrap--change_password common_modal__wrap">
    <button type="button" class="close common_modal__close_btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div id="changePasswordContent" class="common_modal__content_container common_modal__content_container--change_password">
      <div class="modal-header common_modal__header">
        <h4 class="modal-title common_modal__title">Change password</h4>
      </div>
      <div class="common_modal__body">
        <div class="change_password_form_container">
          <form class="form-horizontal" id="changePasswordForm">
            <div class="common_modal__form_group">
              <label for="changePassEmail" class="common_modal__label">Email</label>
              <input id="changePassEmail" name="email_sign_in" class="common_modal__input" autocomplete="off" maxlength="255">
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
            </div>
            <div class="common_modal__form_group">
              <label for="oldChangePassEmail" class="common_modal__label">Old Password</label>
              <input id="oldChangePassEmail" name="oldChangePassEmail" type="password" class="common_modal__input" data-type="password">
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
            </div>
            <div class="common_modal__form_group">
              <label for="newChangePassEmail" class="common_modal__label">New Password</label>
              <input id="newChangePassEmail" name="newChangePassEmail" type="password" class="common_modal__input" data-type="password">
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
            </div>
            <div class="common_modal__form_group">
              <label for="confirmNewChangePassEmail" class="common_modal__label">Confirm New Password</label>
              <input id="confirmNewChangePassEmail" name="confirmNewChangePassEmail" type="password" class="common_modal__input" data-type="password">
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
            </div>
            <div class="common_modal__form_group">
              <div id="changePasswordAlertDiv" class="form_bad_request_div display_none">
                <span class="form_bad_request_glyphicon glyphicon glyphicon-alert" aria-hidden="true"></span>
                <label id="submitButtonChangePasswordLabel" class="common_modal__bad_request" for="submitButtonChangePassword"></label>
              </div>
              <input id="submitButtonChangePassword" name="submitButtonChangePassword" type="submit" class="common_modal__button" value="change password">
            </div>
          </form>
        </div>
        <div id="changePasswordModalResponse" class="common_modal__rotate_hidden common_modal__response">
          <form class="form-horizontal" id="changePasswordModalResponseForm">
            <div class="common_modal__form_group">
              <label id="changePasswordModalResponseLabel" class="common_modal__responses_style">Password succesfully changed.</label>
            </div>
            <div class="common_modal__form_group">
              <input id="closeChangePasswordModalResponseButton" type="button" class="common_modal__button common_modal__response_close_button" value="close">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="signUpModal" class="modal fade sign_up_container">
  <div class="sign_up_wrap">
    <button type="button" class="close common_modal__close_btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="sign_up_form overflowHidden">
      <input id="sign_in_tab" type="radio" name="tab" class="sign_in_radio" checked>
      <label for="sign_in_tab" class="sign_up_form_tab no_select">SIGN IN</label>
      <input id="sign_up_tab" type="radio" name="tab" class="sign_up_radio">
      <label for="sign_up_tab" class="sign_up_form_tab no_select">SIGN UP</label>
      <div class="sign_in_form_container_parent">
        <div class="sign_in_form_container">
          <form class="form-horizontal" id="sign_in_form">
            <div class="sign_up_form_group">
              <label for="email_sign_in" class="sign_up_form_label">Email</label>
              <input id="email_sign_in" name="email_sign_in" class="sign_up_form_input" autocomplete="off" maxlength="255">
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
            </div>
            <div class="sign_up_form_group">
              <label for="pass_sign_in" class="sign_up_form_label">Password</label>
              <input id="pass_sign_in" name="pass_sign_in" type="password" class="sign_up_form_input" data-type="password">
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
            </div>
            <div class="sign_up_form_group">
              <input id="check_remember" type="checkbox" class="sign_up_form_check no_select" checked>
              <label for="check_remember" class="no_select"><span class="sign_up_form_icon"></span> Keep me signed in</label>
            </div>
            <div class="sign_up_form_group">
              <div id="signInAlertDiv" class="form_bad_request_div display_none">
                <span class="form_bad_request_glyphicon glyphicon glyphicon-alert" aria-hidden="true"></span>
                <label id="submitButtonSignInLabel" class="common_modal__bad_request" for="submitButtonSignIn"></label>
              </div>
              <input id="submitButtonSignIn" name="submitButtonSignIn" type="submit" class="sign_up_form_button" value="sign in">
            </div>
          </form>
          <div class="sign_up_form_footer_hr"></div>
          <div class="sign_up_form_footer_link">
            <input id="reset_password_tab" type="radio" name="tab" class="reset_password_radio">
            <label for="reset_password_tab" class="sign_up_form_tab reset_password_form_tab no_select">Forgot password?</label>
            <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
          </div>
        </div>
        <div class="sign_up_form_container">
          <form class="form-horizontal" id="signUpForm">
            <div class="sign_up_form_group">
              <label for="emailSignUp" class="sign_up_form_label">Email</label>
              <input id="emailSignUp" name="emailSignUp" class="sign_up_form_input" autocomplete="off" maxlength="255">
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
            </div>
            <div class="sign_up_form_group">
              <label for="userSignUp" class="sign_up_form_label">Username</label>
              <input id="userSignUp" name="userSignUp" type="text" class="sign_up_form_input" autocomplete="off" maxlength="24">
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
            </div>
            <div class="sign_up_form_group">
              <label for="passSignUp" class="sign_up_form_label">Password</label>
              <input id="passSignUp" name="passSignUp" type="password" class="sign_up_form_input" data-type="password" maxlength="255">
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
            </div>
            <div class="sign_up_form_group">
              <label for="passConfirmSignUp" class="sign_up_form_label">Repeat Password</label>
              <input id="passConfirmSignUp" name="passConfirmSignUp" type="password" class="sign_up_form_input" data-type="password" maxlength="255">
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
            </div>
            <div class="sign_up_form_group">
              <label for="country_dropdown" class="sign_up_form_label">Country</label>
              <div class="dropup focus-active" id="country_code_dropdown">
                <a class="sign_up_form_input dropdown-toggle ellipsis" data-toggle="dropdown" id="country_dropdown">Select a Country <span class="caret country_dropdown_caret"></span></a>
                <ul id="country_dropdown_menu" class="dropdown-menu scrollable-menu country_dropdown_menu" role="menu" aria-labelledby="country_dropdown">
                  <% for(var i=0; i<response.length; i++) {%>
                    <li>
                      <a href code="<%=response[i].code%>" class="ellipsis">
                        <%=response[i].name%>
                      </a>
                    </li>
                    <%}%>
                </ul>
              </div>
              <input name="sign_up_country_selected" id="sign_up_country_selected" class="sign_up_form_input display_none">
              <span id="country_dropdown_none_selected_error" class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" data-toggle="dropdown" aria-hidden="true"></span>
            </div>
            <div class="sign_up_form_group" id="date_picker_div">
              <label for="datePickerSignUp" class="sign_up_form_label" id="date_picker_label">Birth date</label>
              <input class="sign_up_form_input" name="datePickerSignUp" id="datePickerSignUp" />
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
            </div>
            <div class="sign_up_form_group">    
              <div id="g-recaptcha" class="g-recaptcha"></div>
            </div>
            <div class="sign_up_form_group">
              <div id="signUpAlertDiv" class="form_bad_request_div display_none">
                <span class="form_bad_request_glyphicon glyphicon glyphicon-alert" aria-hidden="true"></span>
                <label id="submitButtonSignUpLabel" class="common_modal__bad_request" for="submitButtonSignUp"></label>
              </div>
              <input id="submitButtonSignUp" name="submitButtonSignUp" type="submit" class="sign_up_form_button" value="sign up">
            </div>
          </form>
          <div class="sign_up_form_footer_hr"></div>
          <div class="sign_up_form_footer_link no_select">
            <label for="sign_in_tab" class="sign_up__already_member">Already a member?</a>
          </div>
        </div>
        <div class="reset_password_form_container">
          <form class="form-horizontal" id="resetPasswordForm">
            <div class="sign_up_form_group">
              <label id="reset_pass_email_label" for="resetPassEmail" class="sign_up_form_label">Email</label>
              <input id="resetPassEmail" name="email_sign_in" class="sign_up_form_input" autocomplete="off" maxlength="255">
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
            </div>
            <div class="sign_up_form_group">
              <input type="submit" id="submitButtonResetPassword" class="sign_up_form_button" value="reset password">
            </div>
          </form>
        </div>
        <div id="signUpModalResponse" class="sign_up_modal_response_container">
          <form class="form-horizontal" id="signUpModalResponseForm">
            <div class="sign_up_form_group">
              <label id="signUpModalResponseLabel" class="sign_up_modal_responses_style"></label><span id="signUpModalResponseEmailSpan" class="ellipsis sign_up_modal_responses_span_style"></span>
            </div>
            <div class="sign_up_form_group">
              <input id="closeSignUpModalResponseButton" type="button" class="sign_up_form_button close_sign_up_modal_button" value="close">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="createEventModal">
  <div class="common_modal__wrap--create_event common_modal__wrap" role="document">
    <button type="button" class="close common_modal__close_btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="modal-content common_modal__content_container common_modal__content_container--create_event">
      <div class="modal-header common_modal__header">
        <h4 class="modal-title common_modal__title create_event_title"></h4>
      </div>
      <div class="modal-body common_modal__body">
        <form class="common_modal__form" id="createEventForm">  
          <div class="common_modal__form_group">
            <label for="createEventName" class="common_modal__label">Event Name</label>
            <input id="createEventName" name="createEventName" class="common_modal__input" autocomplete="off" maxlength="80">
            <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
          </div>
          <div class="common_modal__form_group">
            <label for="createEventLocation" class="common_modal__label">Location</label>
            <input id="createEventLocation" name="createEventLocation" class="common_modal__input" autocomplete="off" maxlength="255">
            <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
          </div> 
          <div class="common_modal__form_group">
              <label id="datePickerEventStartDateLabel" class="common_modal__label">Start date</label>
              <a class="isLocalInfoIcon" data-toggle="tooltip" title="Should be the hour at which the event starts in your timezone.">
                <img class="common_modal__info_icon" src="../../Content/img/info_icon.png"/>
              </a>
              <input class="common_modal__input" name="datePickerEventStartDate" id="datePickerEventStartDate" autocomplete="off" />
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
          </div>
          <div class="common_modal__form_group">
              <label id="datePickerEventEndDateLabel" class="common_modal__label">End date</label>
              <a class="isLocalInfoIcon" data-toggle="tooltip" title="Should be the hour at which the event ends in your timezone.⁠⁠⁠⁠">
                <img class="common_modal__info_icon" src="../../Content/img/info_icon.png"/>
              </a>
              <input class="common_modal__input" name="datePickerEventEndDate" id="datePickerEventEndDate" autocomplete="off" />
              <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
          </div> 
          <div class="common_modal__form_group">
            <input type="checkbox" id="isLocalCheckbox" class="common_modal__checkbox no_select" checked="">
            <label id="isLocalCheckboxLabel" for="isLocalCheckbox" class="common_modal__checkbox_label no_select"><span class="common_modal__checkbox_label_span"></span>Is local ?</label>
            <a class="isLocalInfoIcon"
               data-toggle="tooltip"
               title="Leave the box checked if the event takes place at the same moment of time worldwide, regardless of your timezone.<br><b>Example:</b><br>A book launch in New York at 15:00&nbsp;(UTC-05:00) will start in London at 20:00&nbsp;(UTC-00:00).<br><br>Uncheck the box if the event takes place at different moments of time worldwide, relative to your local timezone.<br><b>Example:</b><br>New Year's Day is celebrated at 00:00 both in New York's and London's local time.">
              <img class="common_modal__info_icon" src="../../Content/img/info_icon.png"/>
            </a>
          </div>
          <div class="common_modal__form_group">
            <label class="common_modal__label">Event Photo</label>
            <div class="common_modal__bg_picker_container">
              <div class="common_modal__bg_picker_media"></div>
              <div class="common_modal__bg_picker_open no_select">
                <span class="common_modal__bg_picker_open_icon glyphicon glyphicon-camera"></span>Change&nbsp;photo
              </div>
            </div>
          </div>
          <div class="common_modal__form_group">
            <label for="createEventDescription" class="common_modal__label">Description</label>
            <textarea form="createEventForm" id="createEventDescription" name="createEventDescription" class="common_modal__textarea" rows="3" maxlength="10000"></textarea>
            <span class="glyphicon glyphicon-alert form_error_glyphicon alert display_none" aria-hidden="true"></span>
          </div>
          <div class="common_modal__form_group">    
            <div id="g-recaptcha-create" class="g-recaptcha"></div>
          </div>
          <div class="common_modal__form_group">
            <div id="createEventAlertDiv" class="form_bad_request_div display_none">
              <span class="form_bad_request_glyphicon glyphicon glyphicon-alert" aria-hidden="true"></span>
              <label id="submitButtonCreateEventLabel" class="common_modal__bad_request" for="submitButtonCreateEvent"></label>
            </div>
            <input id="submitButtonCreateEvent" class="common_modal__button" name="submitButtonCreateEvent" type="submit">
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
