<div id="side_menu">
  <div class="side_menu_header">
    <div class="side_menu_timezone_container ellipsis" id="side_menu_timezone_container_id">
      <p id="sideMenuTimezoneDisplay" class="side_menu_timezone_display"><%=currentTimezone.display.split(' ')[0]%></p>
      <p id="sideMenuTimezoneGmt" class="side_menu_timezone_gmt"><%=currentTimezone.display.split(' ')[1]%></p>
      
      <a class="side_menu_timezone_btn">change</a>

    </div>
    <span id="side_menu_close_btn" class="side_menu_close_btn"><i class="fa fa-times"></i></span>
  </div>
  <ul class="side_menu_ul">
    <li id="allTheTimersButton">
      <a><span class="side_menu_glyphicon pull-left glyphicon glyphicon glyphicon-menu-hamburger"></span>ALL&nbsp;THE&nbsp;TIMERS</a>
    </li>
    <%if(loggedIn){%>
      <li id="createEventButtonSideMenu">
        <a><span class="side_menu_glyphicon pull-left glyphicon glyphicon glyphicon-plus"></span>CREATE&nbsp;EVENT</a>
      </li>
    <%}%>
      <li id="randomEventButton">
        <a><span class="side_menu_glyphicon pull-left glyphicon glyphicon-random"></span>RANDOM&nbsp;EVENT</a>
      </li>
    <%if(!loggedIn){%>
      <li id="signInButton">
        <a><span class="side_menu_glyphicon pull-left glyphicon glyphicon glyphicon-log-in"></span>SIGN&nbsp;IN</a>
      </li>
    <%} else { %>
      <li id="goToMyEventsButton">
        <a><span class="side_menu_glyphicon pull-left glyphicon glyphicon-th"></span>GO&nbsp;TO&nbsp;MY&nbsp;EVENTS</a>
      </li>
      <li id="changePasswordButton">
        <a><span class="side_menu_glyphicon pull-left glyphicon glyphicon-edit"></span>CHANGE&nbsp;PASSWORD</a>
      </li>
      <li id="signOutButton">
        <a><span class="side_menu_glyphicon pull-left glyphicon glyphicon glyphicon-log-out"></span>SIGN&nbsp;OUT</a>
      </li>
    <%}%>
    <li id="contactButton">
      <a><span class="side_menu_glyphicon pull-left glyphicon glyphicon glyphicon-menu-hamburger"></span>CONTACT</a>
    </li>
    <li class="side_menu_logged_user_li">
      <span class="side_menu_logo_span">
        <a id="sideMenuLogo"><img src="Content/img/eventsnitch_logo_white.png"  class="side_menu_logo"></a>
        <%if(loggedIn){%>
          <a class="header_logged_user header_logged_user_side_menu"><%= loggedUser %></a>
        <%}%>
      </span>
    </li>
  </ul>
</div>
      
<div class="modal fade" tabindex="-1" role="dialog" id="timezoneModalChange">
  <div class="modal-dialog common_modal__wrap" role="document">
    <button type="button" class="close common_modal__close_btn" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="modal-content common_modal__content_container">
      <div class="modal-header common_modal__header">
        <h4 class="modal-title common_modal__title">Pick your timezone</h4>
      </div>
      <div class="modal-body common_modal__body">
        <select name="timezoneModalChangeSelect" id="timezoneModalChangeSelect" class="common_modal__select">
          <option value="<%=currentTimezone.offset%>" data-timezone-name="<%=currentTimezone.name%>" selected><%=currentTimezone.display%></option>
          <% for(var i = 0; i < timezones.length; i++) { %>
            <option value="<%=timezones[i].offset%>" data-timezone-name="<%=timezones[i].name%>"><%=timezones[i].display%></option>
          <% } %>
        </select>
      </div>
      <div id="setAutoModalTimezone" class="common_modal__timezone-button">Set local timezone</div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->