<div id="side_menu">
  <div class="side_menu_header">
    <div class="side_menu_timezone_container">
      <p class="side_menu_timezone">utc+02:00</p>
      <p class="side_menu_timezone_div">Athens, Bucharest</p>
      
      <a href="" class="side_menu_timezone_btn">change</a>
    </div>
    <span id="side_menu_close_btn" class="side_menu_close_btn">✖</span>
  </div>
  <ul class="side_menu_ul">
    <li>
      <a href="" id="allTheTimersButton"><span class="side_menu_glyphicon pull-left glyphicon glyphicon glyphicon-menu-hamburger"></span>ALL&nbsp;THE&nbsp;TIMERS</a>
    </li>
    <li>
      <a href=""><span class="side_menu_glyphicon pull-left glyphicon glyphicon glyphicon-share"></span>CREATE&nbsp;&&nbsp;SHARE&nbsp;YOURS</a>
    </li>
    <li>
      <a id="randomEventButton"><span class="side_menu_glyphicon pull-left glyphicon glyphicon-random"></span>RANDOM&nbsp;EVENT</a>
    </li>
  </ul>
  <a href=""><img src="Content/img/eventsnitch_logo_white.png" class="side_menu_logo"></a>
</div>